<section id="resume" class="bg-dark">
        <aside >
            <div class="container text-center">
                <div class="call-to-action">
                    <h2>Sorry,</h2>

                    <p>the résumé is so 90s,</p>
                    <p>visit my <a class="linkedin-link" href="https://www.linkedin.com/in/giulio-ambrogi-b1969565" target="_blank">Linked<i class="fa fa-linkedin fa-2x wow bounceIn" data-wow-delay=".1s"></i> profile!</a></p>
                </div>
            </div>
        </aside>
    </section>