<section id="techstack">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My favourite tech stack (so far)</h2>
                    <hr>
                    <p><strong>Front-end</strong> (AngularJS || React || plain ES6) && LESS/SASS </p>
                    <p><strong>Back-end</strong> Node || .NET || Java Spring</p>
                    <p><strong>DBs</strong> mySql || postgreSql || MongoDB || MS SQL Server || Neo4j</p>
                    <p><strong>Tools</strong> Git, Gulp, npm, Jenkins CI</p>
                    <hr class="primary">
                </div>
            </div>
        </div>

    </section>