<section id="techstack">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My favourite tech stack (so far)</h2>
                    <hr>
                    <p><strong>Front-end</strong> React && (Styled Components || EmotionJS)</p>
                    <p><strong>Back-end</strong> Node || AWS || .NET || Ruby</p>
                    <p><strong>Testing</strong> Jest, enzyme, Robot Framework, Rspec, NUnit, <a href="http://www.jstestgenerator.com">JS Test Generator</a></a></p>
                    <p><strong>Tools</strong> AWS (S3, lambdas, Cognito, Cloudformation), Git, Gulp, npm, Jenkins CI</p>
                    <hr class="primary">
                </div>
            </div>
        </div>

    </section>
