/* colours */
/* Base Font colour */
/* D&G main used for font and CTA's */
/* Used mainly for hover states */
/* Used mainly for font and CTA's */
/* Secondary block colour used for BG's */
/* Theme colours */
/* Typography */
/* Components */
/* Breakpoints
Usually the split between mobile view and desktop view happens at 'large'
*/
/* Mixins */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.border {
  border-style: solid;
  border-width: 1px;
  border-color: #d3d3d3;
}
.display-table {
  display: table;
  width: 100%;
}
.display-table-cell {
  display: table-cell;
  vertical-align: middle;
}
.highlight-padd {
  padding: 3rem;
  background: #f7f7f8;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .highlight-padd {
    padding: 1rem;
  }
}
.white-padd {
  padding: 3rem;
  background: #f7f7f8;
  box-sizing: border-box;
  background: #fff;
}
.white-padd ul {
  margin-top: 0;
}
.white-padd .form-line:last-child {
  margin-bottom: 0;
}
.white-padd .form-line:last-child button {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .white-padd {
    padding: 1rem;
  }
}
/*
Usage:

.respond-to('large',{
  p{
      color:blue;
   }
});

Will produce

@media (max-width: "900px") {
  p {
    color: blue;
  }
}
;

*/
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #333333;
  font-size: 62.5%;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
dl {
  margin: 0;
}
dl dt,
dl dd {
  padding-bottom: 0.5rem;
}
dl dt {
  float: left;
  clear: left;
  min-width: 10rem;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
/* ==========================================================================
   Responsive Grid
   ========================================================================== */
.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 20px;
  width: 100%;
}
.column,
.columns {
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.single-column {
  float: none;
}
/* For devices larger than 480px */
@media (min-width: 480px) {
  .container {
    width: 95%;
    padding: 0;
  }
  .tabular .column,
  .tabular .columns {
    margin-left: 4%;
  }
  .tabular .column:first-child,
  .tabular .columns:first-child {
    margin-left: 0;
  }
  .tabular .one.column,
  .tabular .one.columns {
    width: 4.66666666667%;
  }
  .tabular .two.columns {
    width: 13.3333333333%;
  }
  .tabular .three.columns {
    width: 22%;
  }
  .tabular .four.columns {
    width: 30.6666666667%;
  }
  .tabular .five.columns {
    width: 39.3333333333%;
  }
  .tabular .six.columns {
    width: 48%;
  }
  .tabular .seven.columns {
    width: 56.6666666667%;
  }
  .tabular .eight.columns {
    width: 65.3333333333%;
  }
  .tabular .nine.columns {
    width: 74.0%;
  }
  .tabular .ten.columns {
    width: 82.6666666667%;
  }
  .tabular .eleven.columns {
    width: 91.3333333333%;
  }
  .tabular .twelve.columns {
    width: 100%;
    margin-left: 0;
  }
}
/* For devices larger than 800px */
@media (min-width: 768px) {
  .container {
    width: 95%;
  }
  .column,
  .columns {
    margin-left: 4%;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }
  .one.column,
  .one.columns {
    width: 4.66666666667%;
  }
  .two.columns {
    width: 13.3333333333%;
  }
  .three.columns {
    width: 22%;
  }
  .four.columns {
    width: 30.6666666667%;
  }
  .five.columns {
    width: 39.3333333333%;
  }
  .six.columns {
    width: 48%;
  }
  .seven.columns {
    width: 56.6666666667%;
  }
  .eight.columns {
    width: 65.3333333333%;
  }
  .nine.columns {
    width: 74.0%;
  }
  .ten.columns {
    width: 82.6666666667%;
  }
  .eleven.columns {
    width: 91.3333333333%;
  }
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }
  .one-third.column {
    width: 30.6666666667%;
  }
  .two-thirds.column {
    width: 65.3333333333%;
  }
  .one-half.column {
    width: 48%;
  }
  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%;
  }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%;
  }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%;
  }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%;
  }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }
  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.center {
  text-align: center;
}
/* ==========================================================================
   Print styles.
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* ==========================================================================
  Theme: Online Claims
   ========================================================================== */
body {
  background: #f7f7f8;
}
p {
  margin-bottom: 1rem;
}
ul {
  list-style: none;
  padding: 0;
}
main .container {
  background: #fff;
  padding: 4rem 3em;
}
@media (max-width: 900px) {
  main .container {
    padding: 3rem 2rem;
  }
}
main .bordered-body {
  padding: 3rem;
  border: 1px solid #d3d3d3;
  margin-bottom: 3rem;
}
@media (max-width: 767px) {
  main .bordered-body {
    padding: 1.5rem;
  }
}
@media (max-width: 600px) {
  main .container {
    padding: 2rem 1.5rem;
  }
}
a {
  color: #00aeef;
  text-decoration: none;
}
a:hover,
a.active {
  color: #a1a1a1;
}
.al-right {
  text-align: right;
}
.component {
  clear: both;
  margin: 2rem 0;
  overflow: hidden;
}
.themed {
  color: #00aeef;
}
.style-guide section {
  border-bottom: 1px dashed #ccc;
  padding: 2rem 0;
}
.style-guide section em {
  background: #666;
  border-radius: 1rem;
  color: #fff;
  display: inline-block;
  padding: 0.2rem 1rem;
  margin-bottom: 1.5em;
}
.alt {
  color: #00aeef;
}
.darkgrey {
  color: #a1a1a1;
}
.ajaxLoader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/ajax-loader.gif') no-repeat center #fff;
  opacity: 0.8;
  display: none;
  z-index: 201;
}
body {
  color: #333333;
  font-size: 1.4rem;
  font-family: arial, sans-serif;
}
@media (max-width: 900px) {
  body {
    font-size: 1.4rem;
  }
}
h1,
h2,
h3,
h4 {
  color: #333333;
  font-family: "VAG Rounded W01 Light", sans-serif;
  font-weight: normal;
  margin: 0 0 1.5rem;
}
h1 {
  color: #00aeef;
  font-size: 2.8rem;
}
@media (max-width: 900px) {
  h1 {
    font-size: 2.0rem;
  }
}
h2 {
  font-size: 2.4rem;
}
@media (max-width: 900px) {
  h2 {
    font-size: 2.0rem;
  }
}
h2.container-title {
  margin-top: 3rem;
}
h3 {
  font-size: 2rem;
}
h3.alt {
  margin-top: 3rem;
}
@media (max-width: 767px) {
  h3.alt {
    font-size: 2rem;
  }
}
h4 {
  font-size: 1.8rem;
}
hgroup h3 {
  margin: 0 0 0.5rem;
  font-size: 1.5rem;
}
hgroup h4 {
  font-size: 2.2rem;
}
@media (max-width: 767px) {
  hgroup h4 {
    font-size: 1.8rem;
  }
}
p {
  font-size: 1.4rem;
  margin: 0 0 1.0em;
}
@media (max-width: 900px) {
  p {
    font-size: 1.4rem;
  }
}
p.smaller {
  font-size: 1.2rem;
}
@media (max-width: 900px) {
  p.smaller {
    font-size: 1.2rem;
  }
}
h1:empty,
h2:empty,
p:empty {
  display: none;
}
/*
Some font labels
*/
.reference-number {
  color: #00aeef;
}
.basecolor {
  color: #333333;
}
/* Buttons */
.btn {
  background: #f7f7f8;
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
  color: #333333;
  display: inline-block;
  font-size: 1.4rem;
  /*margin-bottom: 2rem;*/
  min-height: 1.6rem;
  min-width: 16rem;
  padding: 1.2rem 1.5rem;
  text-align: center;
  cursor: pointer;
}
.btn:hover {
  background: #60c6ec;
  color: #fff;
  border-color: #60c6ec;
}
.btn-grp .btn {
  margin-right: 1rem;
}
@media (max-width: 767px) {
  .btn-grp .btn:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}
.btn-primary {
  background: #00aeef;
  border: 1px solid #00aeef;
  color: #fff;
}
.btn-secondary {
  background: #fff;
  color: #00aeef;
  border-color: #00aeef;
}
.btn-secondary:hover {
  background: #60c6ec;
  color: #fff;
}
.btn-grey {
  background: #fff;
  border: 1px solid #f7f7f8;
  color: #a1a1a1;
  cursor: pointer;
  max-width: 230px;
  height: 60px;
  line-height: 60px;
  width: 100%;
  text-align: left;
  /**icon style*/
  padding: 0;
  padding-left: 40px;
  background-size: 20px !important;
  background-position: 15px center;
  background-repeat: no-repeat;
}
.btn-grey .icon {
  width: 35px;
  height: 35px;
  display: inline-block;
  margin-right: 15px;
}
.btn-grey.printer {
  background: url(/images/icon-printer.png) no-repeat 1.2rem center;
}
.btn-grey.download {
  background: url(/images/icon-download.png) no-repeat 1.2rem center;
}
.btn-grey:hover {
  border-color: #00aeef;
  color: #00aeef;
}
.btn-icon .icon {
  float: left;
  margin-right: 0.5rem;
}
.btn-x-border {
  border: none;
  background: transparent;
  color: #00aeef;
}
.btn-x-border:hover {
  background: transparent;
  color: #00aeef;
}
.toggle-icon .icon {
  background-image: url(../images/spritesheet.png);
  background-position: -444px 0px;
  width: 12px;
  height: 12px;
}
.toggle-icon.active .icon {
  background-image: url(../images/spritesheet.png);
  background-position: -444px -42px;
  width: 12px;
  height: 12px;
}
.hub-tbl .toggle-icon .icon {
  margin: 0 0 0 0.2rem;
}
/* Responsive */
@media (max-width: 767px) {
  .btn {
    width: 100%;
  }
}
/** button icons */
.icon.printer {
  background: url(/images/icon-printer.png);
  background-size: 100%;
}
.icon.download {
  background: url(/images/icon-download.png);
  background-size: 100%;
}
/** button menu at the bottom of confirmation and book engineer pages **/
.button-menu-bottom .btn {
  width: auto;
}
.button-menu-bottom .btn:nth-child(2) {
  margin-left: 1.5rem;
}
@media (max-width: 767px) {
  .button-menu-bottom .btn:nth-child(2) {
    float: right;
    margin-left: 0rem;
  }
}
@media (max-width: 767px) {
  .button-menu-bottom .btn {
    width: 48%;
    min-width: 0;
  }
}
@media (max-width: 340px) {
  .button-menu-bottom .btn {
    width: auto;
    min-width: 13rem;
  }
}
/*Buttons for questions*/
@media (max-width: 900px) {
  #question-controller .btn {
    max-width: 1.6rem;
  }
}
@media (max-width: 767px) {
  #question-controller .btn {
    max-width: none;
  }
}
/* Forms */
input,
select,
.selectOverlay,
input[type='date'] {
  width: 100%;
  max-width: 35rem;
}
@media (max-width: 767px) {
  input,
  select,
  .selectOverlay,
  input[type='date'] {
    max-width: none;
  }
}
input[type='text']:focus,
input[type='date']:focus,
input[type='tel']:focus,
input[type='email']:focus,
select:focus,
textarea:focus {
  /* Remove default style*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /*style*/
  border: 0px !important;
  -moz-box-shadow: 0px 0px 8px 3px #ccc;
  -webkit-box-shadow: 0px 0px 8px 3px #ccc;
  box-shadow: 0px 0px 8px 3px #ccc;
  outline: 0px;
}
@media (max-width: 767px) {
  input,
  select,
  .selectOverlay,
  input[type='date'] {
    width: 100%;
  }
}
label {
  display: inline-block;
  margin-bottom: 0.8rem;
}
input {
  background: #fff;
  border: 1px solid #d3d3d3;
  clear: both;
  display: block;
  font-size: 1.4rem;
  min-height: 4.5rem;
  padding: 0 1.5rem;
  border-radius: 0px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#select-date {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(/images/icons/calender-secondary.png) #fff 95% 10px no-repeat;
}
select.old-custom-select {
  background: #fff;
  border: 1px solid #d3d3d3;
  bottom: 0;
  clear: both;
  cursor: pointer;
  display: block;
  font-size: 1.4rem;
  height: 4.5rem;
  line-height: 4rem;
  -moz-appearance: none;
  opacity: 0;
  padding: 0 1.6rem;
  position: absolute;
  top: 0;
}
select {
  background-color: #fff;
  background: url(../../images/arrow-down.png) #fff 95% 17px no-repeat;
  border: 1px solid #d3d3d3;
  clear: both;
  cursor: pointer;
  display: block;
  font-size: 1.4rem;
  height: 4.5rem;
  line-height: 4rem;
  padding: 0 1.6rem;
  border-radius: 0px;
  /*remove arrow*/
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
select::-ms-expand {
  /* for IE 11 */
  display: none;
}
select:focus {
  background: url(../../images/arrow-up.png) #fff 95% 17px no-repeat;
}
textarea {
  border: 1px solid #d3d3d3;
  padding: 1rem;
  width: 100%;
  height: 15rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-line {
  margin-bottom: 2rem;
}
.form-line.error {
  /*questions*/
}
.form-line.error label,
.form-line.error p {
  color: #cc0000;
}
.form-line.error input,
.form-line.error select {
  color: #333333;
  border-color: #cc0000;
}
.form-line.error .field-grp label {
  color: #333333;
}
.errorMes,
.errorMsg {
  color: #cc0000;
  margin-top: 1rem;
}
.selectOverlay {
  display: block;
  background: url(../../images/chevron-down-icon.png) #fff 95% 17px no-repeat;
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
  font-size: 1.4rem;
  height: 4.4rem;
  line-height: 4.4rem;
  padding: 0 5rem 0 1.6rem;
}
.selectWrapper {
  position: relative;
}
input.error {
  border-color: #cc0000;
}
.error {
  color: #cc0000;
}
/* need to nest this and extend for checkboxes - maybe mixin needed */
.field-grp {
  overflow: hidden;
}
.field-grp li {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
}
@media (max-width: 767px) {
  .field-grp li {
    padding: 0.5rem 0 0.5rem 0;
  }
}
.field-grp li input[type=radio] {
  position: absolute;
  visibility: hidden;
}
.field-grp li label {
  color: #333333;
  cursor: pointer;
  display: block;
  /*height: 2rem;*/
  position: relative;
  z-index: 1;
  padding: 0 2.5rem 0 4rem ;
}
@media (max-width: 767px) {
  .field-grp li label {
    padding: 0 2.5rem 0 3.5rem;
  }
}
.field-grp li .check {
  border: 1px solid #a1a1a1;
  border-radius: 100%;
  display: block;
  height: 2.0rem;
  left: 0;
  position: absolute;
  top: 0.5rem;
  width: 2.0rem;
  z-index: 0;
}
.field-grp li:hover .check {
  border: 1px solid #00aeef;
}
.field-grp li .check::before {
  border-radius: 100%;
  content: '';
  display: block;
  height: 1.0rem;
  left: 0.5rem;
  margin: auto;
  position: absolute;
  top: 0.5rem;
  width: 1.0rem;
}
input[type=radio]:checked ~ .check {
  border: 1px solid #00aeef;
}
input[type=radio]:checked ~ .check::before {
  background: #00aeef;
}
input[type=radio]:checked ~ label {
  color: #333333;
}
/*input[type=radio]:checked ~ .check::before {
  background-color: @primary; 
}*/
/*
Checkbox - TODO: integrate this code and radio buttons one in order to avoid code duplication;
*/
.date-checkbox {
  position: relative;
}
.date-checkbox label {
  cursor: pointer;
  display: inline-block;
  height: 3rem;
  margin: 1rem auto 0.5rem;
  position: relative;
  padding: 0 2.5rem 0 4rem;
  z-index: 1;
}
.date-checkbox .check {
  border: 1px solid #a1a1a1;
  display: block;
  height: 2.0rem;
  left: 0;
  position: absolute;
  top: 0.5rem;
  width: 2.0rem;
  z-index: 0;
}
.date-checkbox .check::before {
  content: '';
  display: block;
  height: 2rem;
  left: 0.3rem;
  margin: auto;
  position: absolute;
  top: 0.4rem;
  width: 1.5rem;
}
.date-checkbox input[type=checkbox] {
  display: none;
}
.date-checkbox input[type=checkbox]:checked ~ .check {
  border: 1px solid #00aeef;
}
.date-checkbox input[type=checkbox]:checked ~ .check {
  background-color: #00aeef;
}
.date-checkbox input[type=checkbox]:checked ~ .check::before {
  background: url('../../images/check-white.png') no-repeat;
}
.date-checkbox input[type=checkbox]:hover {
  border: 1px solid #00aeef;
}
/* JQuery UI datepicker overrides */
.ui-datepicker {
  width: 20.7em;
  /* default width - can be changed if targeted with page's body class */
}
.ui-datepicker td {
  padding: 0;
}
.ui-datepicker td span,
.ui-datepicker td a {
  text-align: center;
  font-size: 1.2rem;
  padding: 0.5rem;
}
.ui-datepicker th {
  font-weight: normal;
}
.ui-datepicker .ui-widget-header {
  color: inherit;
  font-weight: normal;
  border: 0;
  background: none;
}
.ui-datepicker .ui-datepicker-header {
  padding: 0.2rem 0 1rem;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #f7f7f8;
  background: #fff;
  color: #333333;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #f7f7f8;
  background: #00aeef;
  color: #fff;
}
.ui-widget-content {
  background: #f7f7f8;
  padding: 1.5rem;
  box-sizing: border-box;
  border-radus: 0;
  color: #333333;
}
.ui-widget-content a {
  color: #333333;
}
.ui-widget-content table th {
  background: none;
  font-weight: normal;
}
.hasDatepicker {
  /*width: 29rem; */
}
@media (max-width: 480px) {
  .hasDatepicker {
    width: 100%;
  }
}
/* Guest Claims - This belongs to current D&G site architecture - Leave until last */
.guest-claims {
  /* Pixels used as this is outside of claims project */
}
.guest-claims .btn {
  border: 1px solid #00aeef;
  display: block;
  font-size: 1.4rem;
  padding: 1rem 1.5rem;
}
.guest-claims .btn-primary {
  background: #00aeef;
  color: #fff;
}
.guest-claims ul {
  padding: 0;
}
.guest-claims .flex {
  align-items: flex-end;
  display: flex;
}
.guest-claims .primary {
  background: #fff;
  color: #00aeef;
}
.guest-claims h1,
.guest-claims h2 {
  color: #00aeef;
  margin-bottom: 2rem;
}
.guest-claims .secondary {
  background: #fff;
  color: #00aeef;
}
.guest-claims #content {
  margin-top: 2rem;
}
.guest-claims .boxed {
  background: #a1a1a1;
  margin: 20px 0 20px 0;
  padding: 20px;
}
.guest-claims .boxed h2 {
  font-size: 22px;
}
.guest-claims .boxed .inner {
  background: #d3d3d3;
  padding: 2rem;
}
.guest-claims .boxed .inner li {
  background: #d3d3d3;
  box-sizing: border-box;
  display: inline-block;
  padding: 10px;
  text-align: center;
  width: 25%;
}
.guest-claims .boxed .plan-items li a {
  font-size: 2rem;
  min-height: 20rem;
}
.char-left {
  color: #a1a1a1;
}
/* Table */
/*width of the column containing the button*/
table {
  border-collapse: collapse;
  width: auto;
  margin: 0 0 2rem;
}
table td,
table th {
  padding: 2rem;
  border: 1px solid #d3d3d3;
  background: #fff;
  text-align: left;
}
table th {
  font-weight: normal;
}
table .btn {
  margin-bottom: 0;
}
table .sub-value {
  display: block;
  color: #a1a1a1;
  margin-top: 0.5rem;
}
table tr.stripe td,
table tbody.mp-items td {
  background: #f7f7f8;
}
/* Standard table */
.std-tbl {
  width: 100%;
  margin: 0 0 2rem;
}
.std-tbl td,
.std-tbl th {
  padding: 2rem;
  border: 1px solid #d3d3d3;
  background: #d3d3d3;
  text-align: left;
}
.std-tbl th {
  font-weight: normal;
}
/* Product style table */
.prod-tbl {
  float: right;
  max-width: 17em;
  width: 100%;
  border: 1px solid #d3d3d3;
  font-size: 1.2rem;
}
.prod-tbl th:first-child,
.prod-tbl td:first-child {
  color: #a1a1a1;
}
.prod-tbl td,
.prod-tbl th {
  border: 0px;
}
.prod-tbl td {
  padding: 0.5rem 1rem 1rem 1rem;
}
.prod-tbl th {
  padding: 1rem 1rem 0.5rem 1rem;
}
@media (max-width: 767px) {
  .prod-tbl {
    float: none;
    width: 70%;
    max-width: none;
    border: 0px;
  }
  .prod-tbl td,
  .prod-tbl th {
    padding: 0.5rem 0;
  }
}
/* Tracker table */
.track-tbl {
  width: 100%;
  margin: 0 0 2rem;
}
.track-tbl td,
.track-tbl th {
  padding: 2rem;
  border: 1px solid #d3d3d3;
  background: #fff;
  text-align: left;
}
.track-tbl th {
  font-weight: normal;
}
.track-tbl span {
  display: block;
  color: #a1a1a1;
  margin-top: 0.5rem;
}
.track-tbl th:nth-child(4) {
  background: #f7f7f8;
}
.track-tbl th {
  width: 20%;
}
.track-tbl td {
  border-right-width: 0px;
  border-left-width: 0px;
  vertical-align: top;
}
.track-tbl td:first-child {
  border-left-width: 1px;
}
.track-tbl td:last-child {
  border-right-width: 1px;
  text-align: center;
}
.track-tbl tr > td:nth-child(4) {
  background: #f7f7f8;
  border: 1px 0px solid #d3d3d3;
}
@media (max-width: 900px) {
  .track-tbl .btn {
    min-width: 9rem;
  }
}
/* tracker tables table */
.status-tbl {
  width: 50%;
  margin: 0 0 2rem;
}
.status-tbl td,
.status-tbl th {
  padding: 2rem;
  border: 1px solid #d3d3d3;
  background: #fff;
  text-align: left;
}
.status-tbl th {
  font-weight: normal;
}
.status-tbl td,
.status-tbl th {
  border-bottom: 1px solid #d3d3d3;
  border-width: 1px 0;
  padding: 1rem 0;
}
.status-tbl td .icon {
  vertical-align: top;
  margin-right: 1rem;
  float: left;
}
.status-tbl td span.sub-value {
  margin-left: 3rem;
}
.status-tbl tr:last-child td {
  border-bottom: none;
}
.status-tbl tbody:first-child tr:first-child td {
  border-top: none;
}
@media (max-width: 767px) {
  .status-tbl {
    width: 100%;
    margin: 0 0 2rem;
  }
  .status-tbl td,
  .status-tbl th {
    padding: 2rem;
    border: 1px solid #d3d3d3;
    background: #fff;
    text-align: left;
  }
  .status-tbl th {
    font-weight: normal;
  }
  .status-tbl td {
    border-width: 1px 0;
  }
  .status-tbl tr:last-child td {
    border-bottom: none;
  }
  .status-tbl tbody:first-child tr:first-child td {
    border-top: none;
  }
}
/* Claims Hub Table */
.hub-tbl {
  width: 100%;
  margin: 0 0 2rem;
}
.hub-tbl td,
.hub-tbl th {
  padding: 2rem;
  border: 1px solid #d3d3d3;
  background: #fff;
  text-align: left;
}
.hub-tbl th {
  font-weight: normal;
}
.hub-tbl td {
  border-right-width: 0px;
  border-left-width: 0px;
  vertical-align: top;
}
.hub-tbl td:first-child {
  border-left-width: 1px;
}
.hub-tbl td:last-child {
  border-right-width: 1px;
  text-align: center;
}
.hub-tbl th {
  font-size: 1.6rem;
  width: 25%;
}
.hub-tbl th:nth-child(4) {
  text-align: center;
}
.hub-tbl .icon {
  display: inline-block;
  margin: 0 0.8rem 0 0;
}
@media (max-width: 900px) {
  .hub-tbl .btn {
    min-width: 13rem;
  }
  .hub-tbl .icon {
    display: none;
  }
}
@media (max-width: 767px) {
  .hub-tbl tr > td:nth-child(1) {
    font-size: 1.6rem;
  }
  .hub-tbl .btn-x-border {
    border: 1px solid #00aeef;
  }
}
@media (max-width: 767px) {
  .hub-tbl td,
  .track-tbl td {
    border: 1px solid #d3d3d3;
  }
}
@media (max-width: 900px) {
  .hub-tbl .toggle-icon .icon {
    display: inline-block;
  }
}
/*


*/
/* Responsive */
/* Up to Tablet */
@media (max-width: 767px) {
  .rsp-tbl {
    display: block;
    width: 100%;
  }
  .rsp-tbl thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .rsp-tbl tr td {
    padding: 1.4rem;
    border-bottom: 0;
  }
  .rsp-tbl tr td:last-child {
    margin-bottom: 2rem;
    padding: 0;
    border: none;
  }
  .rsp-tbl tr td:before {
    /*content: attr(data-label);*/
  }
  .rsp-tbl tr td:empty {
    display: none;
  }
  .rsp-tbl th {
    padding: 1.4rem;
    border-bottom: 0;
  }
  .rsp-tbl thead,
  .rsp-tbl tbody,
  .rsp-tbl th,
  .rsp-tbl td,
  .rsp-tbl tr {
    display: block;
    overflow: hidden;
  }
  .rsp-tbl .mp-items tr td:last-child,
  .rsp-tbl tr.stripe td:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .rsp-tbl,
  .rsp-tbl thead,
  .rsp-tbl tbody,
  .rsp-tbl th,
  .rsp-tbl td,
  .rsp-tbl tr {
    display: block;
  }
}
/* Use in HTML like  : <span class="icon icon-spanner"></span> */
/* Had to create this class when displaying inline before some text */
.icon-w-label span {
  float: left;
  display: inline-block;
  margin: 0 0.75rem;
}
.icon-w-label span:nth-child(2) {
  line-height: 100%;
}
.icon-huge {
  zoom: 1;
  -moz-transform: scale(1);
  -moz-transform-origin: 0 0;
}
.icon-big {
  zoom: 0.75;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0;
}
.icon-small {
  zoom: 0.5;
  -moz-transform: scale(0.5);
  -moz-transform-origin: 0 0;
}
.icon {
  display: inline-block;
  background-image: url('../images/spritesheet.png');
}
/*******************************

ICONS FROM THE SPRITESHEET BELOW

********************************/
.icon-arrow-down-2x {
  background-image: url(../images/spritesheet.png);
  background-position: -326px 0px;
  width: 36px;
  height: 20px;
}
.icon-arrow-down {
  background-image: url(../images/spritesheet.png);
  background-position: -392px -306px;
  width: 18px;
  height: 10px;
}
.icon-arrow-up-2x {
  background-image: url(../images/spritesheet.png);
  background-position: -252px -222px;
  width: 36px;
  height: 20px;
}
.icon-arrow-up {
  background-image: url(../images/spritesheet.png);
  background-position: -139px -350px;
  width: 18px;
  height: 10px;
}
.icon-booked-repair-2x {
  background-image: url(../images/spritesheet.png);
  background-position: -88px 0px;
  width: 58px;
  height: 44px;
}
.icon-booked-repair {
  background-image: url(../images/spritesheet.png);
  background-position: -326px -154px;
  width: 29px;
  height: 22px;
}
.icon-calender-secondary-2x {
  background-image: url(../images/spritesheet.png);
  background-position: -176px 0px;
  width: 46px;
  height: 48px;
}
.icon-calender-secondary {
  background-image: url(../images/spritesheet.png);
  background-position: -108px -296px;
  width: 23px;
  height: 24px;
}
.icon-cancel-repair-2x {
  background-image: url(../images/spritesheet.png);
  background-position: -148px -148px;
  width: 44px;
  height: 44px;
}
.icon-cancel-repair-secondary-2x {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -148px;
  width: 44px;
  height: 44px;
}
.icon-cancel-repair-secondary {
  background-image: url(../images/spritesheet.png);
  background-position: -392px 0px;
  width: 22px;
  height: 22px;
}
.icon-cancel-repair {
  background-image: url(../images/spritesheet.png);
  background-position: -216px -296px;
  width: 22px;
  height: 22px;
}
.icon-change-appointment-2x {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -222px;
  width: 34px;
  height: 44px;
}
.icon-change-appointment-secondary-2x {
  background-image: url(../images/spritesheet.png);
  background-position: -64px -222px;
  width: 34px;
  height: 44px;
}
.icon-change-appointment-secondary {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -350px;
  width: 17px;
  height: 22px;
}
.icon-change-appointment {
  background-image: url(../images/spritesheet.png);
  background-position: -392px -254px;
  width: 17px;
  height: 22px;
}
.icon-check-white-2x {
  background-image: url(../images/spritesheet.png);
  background-position: -326px -206px;
  width: 28px;
  height: 22px;
}
.icon-check-white {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -402px;
  width: 14px;
  height: 11px;
}
.icon-close-2x {
  background-image: url(../images/spritesheet.png);
  background-position: -392px -156px;
  width: 20px;
  height: 20px;
}
.icon-close {
  background-image: url(../images/spritesheet.png);
  background-position: -444px -84px;
  width: 10px;
  height: 10px;
}
.icon-download-2x {
  background-image: url(../images/spritesheet.png);
  background-position: -176px -78px;
  width: 44px;
  height: 36px;
}
.icon-download {
  background-image: url(../images/spritesheet.png);
  background-position: -392px -206px;
  width: 22px;
  height: 18px;
}
.icon-error-2x {
  background-image: url(../images/spritesheet.png);
  background-position: -88px -74px;
  width: 50px;
  height: 44px;
}
.icon-error {
  background-image: url(../images/spritesheet.png);
  background-position: -161px -296px;
  width: 25px;
  height: 22px;
}
.icon-minus-2x {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -296px;
  width: 24px;
  height: 24px;
}
.icon-minus {
  background-image: url(../images/spritesheet.png);
  background-position: -444px -42px;
  width: 12px;
  height: 12px;
}
.icon-plus-2x {
  background-image: url(../images/spritesheet.png);
  background-position: -54px -296px;
  width: 24px;
  height: 24px;
}
.icon-plus {
  background-image: url(../images/spritesheet.png);
  background-position: -444px 0px;
  width: 12px;
  height: 12px;
}
.icon-print-2x {
  background-image: url(../images/spritesheet.png);
  background-position: -252px -148px;
  width: 42px;
  height: 44px;
}
.icon-print {
  background-image: url(../images/spritesheet.png);
  background-position: -392px -104px;
  width: 21px;
  height: 22px;
}
.icon-request-repair-2x {
  background-image: url(../images/spritesheet.png);
  background-position: -252px -74px;
  width: 44px;
  height: 44px;
}
.icon-request-repair-secondary-2x {
  background-image: url(../images/spritesheet.png);
  background-position: -252px 0px;
  width: 44px;
  height: 44px;
}
.icon-request-repair-secondary {
  background-image: url(../images/spritesheet.png);
  background-position: -392px -52px;
  width: 22px;
  height: 22px;
}
.icon-request-repair {
  background-image: url(../images/spritesheet.png);
  background-position: -320px -296px;
  width: 22px;
  height: 22px;
}
.icon-tick-box-2x {
  background-image: url(../images/spritesheet.png);
  background-position: -74px -148px;
  width: 44px;
  height: 44px;
}
.icon-tick-box {
  background-image: url(../images/spritesheet.png);
  background-position: -268px -296px;
  width: 22px;
  height: 22px;
}
.icon-track-repair-2x {
  background-image: url(../images/spritesheet.png);
  background-position: 0px 0px;
  width: 58px;
  height: 44px;
}
.icon-track-repair-secondary-2x {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -74px;
  width: 58px;
  height: 44px;
}
.icon-track-repair-secondary {
  background-image: url(../images/spritesheet.png);
  background-position: -326px -102px;
  width: 29px;
  height: 22px;
}
.icon-track-repair {
  background-image: url(../images/spritesheet.png);
  background-position: -326px -50px;
  width: 29px;
  height: 22px;
}
.icon-user-primary-2x {
  background-image: url(../images/spritesheet.png);
  background-position: -190px -222px;
  width: 32px;
  height: 32px;
}
.icon-user-primary {
  background-image: url(../images/spritesheet.png);
  background-position: -47px -350px;
  width: 16px;
  height: 16px;
}
.icon-user-secondary-2x {
  background-image: url(../images/spritesheet.png);
  background-position: -128px -222px;
  width: 32px;
  height: 32px;
}
.icon-user-secondary {
  background-image: url(../images/spritesheet.png);
  background-position: -93px -350px;
  width: 16px;
  height: 16px;
}
/* Book a slot */
.book-slot {
  border: 1px solid #d3d3d3;
  width: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.book-slot .heading {
  display: block;
  margin-bottom: 1rem;
}
.book-slot ul {
  margin: 0;
}
.book-slot .columns {
  padding: 2rem;
}
@media (max-width: 1120px) {
  .book-slot .columns {
    padding: 1rem 0 1rem 1rem;
  }
}
.book-slot .booked {
  border-top: 1px solid #d3d3d3;
  background: #f7f7f8;
  position: relative;
  font-size: 1.8rem;
}
@media (max-width: 900px) {
  .book-slot .booked {
    font-size: 1.4rem;
  }
}
.book-slot .booked .icon {
  display: inline-block;
  margin: 0 1.5rem -7px 0;
}
.book-slot .field-grp li label {
  padding-right: 0.5rem;
}
@media (max-width: 767px) {
  .book-slot .columns.six {
    width: 50%;
    float: left;
    margin-left: 0;
  }
}
.date-picker input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
.date-picker input[type="date"]::-webkit-calendar-picker-indicator {
  background: none;
}
.date-picker input[type="date"] {
  cursor: pointer;
}
/* Header */
.navbar {
  display: table;
  min-height: 6.8rem;
  width: 100%;
}
.navbar ul {
  display: table;
  float: right;
  height: 6.8rem;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
.navbar ul li {
  border-bottom: 5px solid #fff;
  border-top: 5px solid #fff;
  display: table-cell;
  text-transform: uppercase;
  vertical-align: middle;
  width: 19rem;
  text-align: center;
}
@media (max-width: 980px) {
  .navbar ul li {
    width: auto;
  }
}
.navbar ul li.active {
  border-bottom: 5px solid #00aeef;
}
.navbar ul li a {
  color: #333333;
  margin: 0 1.5rem;
  text-decoration: none;
  text-align: left;
}
.navbar ul li:hover {
  color: #00aeef;
  cursor: pointer;
}
.navbar ul li:hover a {
  color: #a1a1a1;
}
.navbar ul li.setdown {
  /*Do nothing*/
}
.navbar ul li.selected {
  border-bottom: 5px solid #00aeef;
}
.navbar div.dropdown {
  border: none;
  display: table-cell;
  padding: 0 0.2rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  width: 4rem;
}
.navbar div.dropdown ul,
.navbar div.dropdown li {
  display: block;
  height: auto;
  float: none;
}
.navbar div.dropdown li {
  width: 100%;
  box-sizing: border-box;
  text-transform: none;
  border: none;
  padding: none;
}
.navbar div.dropdown li a {
  padding: 1rem 1.5rem;
  margin: 0;
  display: block;
  font-size: 1.2rem;
}
.navbar div.dropdown li:hover {
  background: #60c6ec;
  border: none;
}
.navbar div.dropdown li:hover a {
  color: #fff;
}
.navbar div.dropdown h3 {
  color: #00aeef;
  margin: 0 1.5rem;
  padding: 0.5rem 0;
  text-transform: none;
  border-bottom: 1px solid #d3d3d3;
}
.navbar div.dropdown:hover,
.navbar div.dropdown.show,
.navbar div.dropdown:active,
.navbar div.dropdown:focus {
  background: #f7f7f8;
  border-bottom-color: #d3d3d3;
}
.navbar div.dropdown:hover .icon-user,
.navbar div.dropdown.show .icon-user,
.navbar div.dropdown:active .icon-user,
.navbar div.dropdown:focus .icon-user {
  /*.icon-user-hover;*/
}
.navbar div.dropdown .content {
  background: #f7f7f8;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  right: -1px;
  text-align: left;
  top: 6.8rem;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  width: 22rem;
}
.navbar div.dropdown.show .content {
  border: 1px solid #d3d3d3;
  border-top: none;
  max-height: 30rem;
  transition: max-height 0.5s ease-in-out;
}
.pg-header {
  background: #fff;
  margin-bottom: 3rem;
  min-height: 6.8rem;
  z-index: 10;
}
.pg-header .logo,
.pg-header .title {
  display: table-cell;
  vertical-align: middle;
}
.pg-header .logo {
  width: 12rem;
}
.pg-header .logo img {
  height: 4.5rem;
}
.pg-header .title {
  font-size: 2rem;
}
/* Responsive */
@media (max-width: 480px) {
  .pg-header nav.navbar > ul {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    left: 0;
  }
  .pg-header .container {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .pg-header {
    min-height: 11.8rem;
    margin-bottom: 0;
    background: #f7f7f8;
  }
  .pg-header .container {
    background: #fff;
    width: 100%;
  }
  .pg-header .navbar {
    position: relative;
    /*Merge issue: check if missing "}" on this line*/
  }
  .pg-header .navbar > ul {
    position: absolute;
    top: 6.8rem;
    left: 2.5%;
    width: 95%;
    height: 5.4rem;
  }
  .pg-header .navbar > ul li a {
    margin: 0;
  }
  .pg-header .navbar li {
    border-bottom-color: #f7f7f8;
    border-top-color: #f7f7f8;
    text-align: center;
  }
  .pg-header .navbar li.setdown {
    border-bottom-color: #f7f7f8;
  }
  .pg-header .navbar div.dropdown {
    border: none;
    position: static;
  }
  .pg-header .navbar div.dropdown.show .content {
    width: 100%;
    box-sizing: border-box;
    border: none;
    top: 6rem;
    left: 0;
    right: 0;
    position: absolute;
  }
  .pg-header .navbar div.dropdown h3 {
    font-size: 1.8rem;
    padding: 1rem 0;
  }
  .pg-header .logo {
    width: 9rem;
  }
  .pg-header .logo img {
    height: 3.5rem;
  }
  .pg-header .logo,
  .pg-header .title {
    padding: 1rem 0 1rem 1rem;
  }
  .pg-header .title {
    font-size: 1.4rem;
  }
}
.steps-container {
  /* nav */
  /* body*/
}
.steps-container .steps {
  color: #d3d3d3;
}
.steps-container .steps .step {
  background: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 100%;
  display: inline-block;
  float: left;
  line-height: 180%;
  margin-right: 1.5rem;
  overflow: hidden;
  text-align: center;
  width: 3.8rem;
  height: 3.8rem;
  line-height: 3.8rem;
}
@media (max-width: 1120px) {
  .steps-container .steps .step {
    margin-right: 0.8rem;
    width: 3.3rem;
    height: 3.3rem;
    line-height: 3.3rem;
  }
}
@media (max-width: 900px) {
  .steps-container .steps .step {
    margin-right: 0.8rem;
    width: 2.8rem;
    height: 2.8rem;
    line-height: 2.8rem;
  }
}
.steps-container .steps .label {
  color: inherit;
  display: inline-block;
  height: 2.8rem;
  line-height: 200%;
}
.steps-container .steps .active {
  /*border-bottom: 4px solid;*/
  color: #00aeef;
}
.steps-container .steps .active .step {
  background: #00aeef;
  border-color: #00aeef;
  color: #fff;
}
.steps-container .steps ul {
  display: flex;
  font-family: "VAG Rounded W01 Light", sans-serif;
  font-size: 2rem;
  margin-bottom: 0;
}
@media (max-width: 1120px) {
  .steps-container .steps ul {
    font-size: 1.8rem;
  }
}
@media (max-width: 900px) {
  .steps-container .steps ul {
    font-size: 1.6rem;
    /*added extra fonts otherwise it breaks in two lines*/
  }
}
.steps-container .steps ul li {
  padding-bottom: 2rem;
  /*padding-left:1.5rem;*/
  width: 25%;
}
@media (max-width: 980px) {
  .steps-container .steps ul li {
    padding-bottom: 1.5rem;
  }
}
@media (max-width: 767px) {
  .steps-container .steps ul li {
    /*padding-left:1.0rem;*/
    width: 15%;
  }
  .steps-container .steps ul li.active {
    width: 90%;
  }
  .steps-container .steps ul li:not(.active) .step {
    display: block;
  }
  .steps-container .steps ul li:not(.active) .label {
    display: none;
  }
  .steps-container .steps ul li:last-of-type:not(.active) .step {
    float: right;
    margin-right: 0;
  }
}
@media (max-width: 480px) {
  .steps-container .steps ul li.active {
    width: 72%;
  }
}
.steps-container .steps-body {
  border: 1px solid #d3d3d3;
  padding: 3rem;
  overflow: auto;
  margin-bottom: 2.5rem;
}
.steps-container .steps-body h2:first-of-type {
  margin-top: 0;
}
@media (max-width: 900px) {
  .steps-container .steps-body {
    padding: 2.5rem;
  }
}
@media (max-width: 767px) {
  .steps-container .steps-body {
    padding: 1.2rem;
  }
}
@media (max-width: 767px) {
  .steps-container .steps-body .prod-tbl {
    width: 100%;
  }
}
.steps-container.details .mobile-number {
  margin-bottom: 1.5rem;
}
@media (max-width: 767px) {
  .steps-container.details li:not(:first-child) .step {
    float: right;
    margin: 0;
  }
}
@media (max-width: 767px) {
  .steps-container.repair-form li:not(.active):not(:first-child) .step {
    float: right;
    margin: 0;
  }
}
.steps-container.your-repair .book-slot,
.steps-container.your-repair #select-date {
  margin-bottom: 3.0rem;
}
@media (max-width: 767px) {
  .steps-container.your-repair li:nth-child(4) .step {
    float: right;
    margin: 0;
  }
}
.steps-container.confirmation .booking-details-tbl th {
  font-size: larger;
}
.steps-container.confirmation .booking-details-tbl th,
.steps-container.confirmation .booking-details-tbl td {
  border: none;
}
/* Questions */
.question {
  border-style: solid;
  border-width: 1px;
  border-color: #d3d3d3;
  box-sizing: border-box;
  padding: 4rem;
}
.question h1 {
  font-size: 2rem;
  margin-top: 0;
}
.question h2 {
  font-size: 2.8rem;
  margin-top: 0;
}
/* Responsive */
@media (max-width: 767px) {
  .question {
    padding: 2rem;
  }
}
/* Tracker details */
.detail-data p:last-of-type {
  margin-bottom: 0rem;
}
.detail-data .btn {
  margin: 2rem 0 1rem 0;
}
.tracker-data {
  padding: 3rem;
  background: #f7f7f8;
  box-sizing: border-box;
}
.tracker-data dt {
  color: #a1a1a1;
  min-width: 15rem;
}
.tracker-data .btn {
  margin-top: 1.5rem;
}
@media (max-width: 767px) {
  .tracker-data {
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
  }
}
/* Responsive */
/* Overlays */
div.ui-dialog {
  padding: 0;
  width: 50rem !important;
  /* To overwrite JS, wanted to leave widths in CSS */
}
div.ui-dialog textarea {
  height: 10rem;
}
div.ui-dialog .icon-close {
  position: absolute;
  top: 10px;
  right: 10px;
}
div.ui-dialog.ui-corner-all {
  border-radius: 0;
  border: none;
}
div.ui-dialog .actions-panel {
  margin-top: 2rem;
}
div.ui-dialog .actions-panel button {
  width: 48%;
  float: left;
  box-sizing: border-box;
  margin-bottom: 0;
}
div.ui-dialog .actions-panel button:first-child {
  margin-right: 2%;
}
div.ui-dialog .actions-panel button:last-child {
  margin-left: 2%;
}
div.ui-dialog .actions-panel.lone-button button:first-child {
  float: right;
  margin-right: 0;
}
div.ui-dialog .ui-dialog-content {
  padding: 2rem;
}
div.ui-dialog .ui-dialog-content .field-grp:first-child {
  margin-top: 0;
}
div.ui-dialog .ui-dialog-content .radio-related {
  margin-left: 4rem;
}
div.ui-widget-overlay {
  background: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.modal-custom,
.ui-dialog-titlebar {
  display: none;
}
/* Responsive */
@media (max-width: 767px) {
  div.ui-dialog {
    width: 95% !important;
    /* To overwrite JS, wanted to leave widths in CSS */
  }
  div.ui-dialog .btn {
    min-width: 10rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
  div.ui-dialog .ui-dialog-content .radio-related {
    margin-left: 0;
  }
  div.ui-dialog .lone-button button:first-child {
    width: 100%;
    margin: 0;
  }
}
/*error box in error page*/
.error-box {
  width: 100%;
  max-width: 44rem;
  margin: 8rem auto 16rem auto;
  text-align: center;
}
@media (max-width: 767px) {
  .error-box {
    margin: 4rem auto 8rem auto;
  }
}
.error-box img {
  max-width: 12rem;
  width: 100%;
}
.error-box h1 {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.error-box p {
  margin-bottom: 5rem;
}
.drop-off-search .post-code input,
.drop-off-search .post-code .btn {
  width: 44%;
  min-width: 0px;
}
@media (max-width: 767px) {
  .drop-off-search .post-code input,
  .drop-off-search .post-code .btn {
    width: 100%;
  }
}
.drop-off-search .post-code input {
  margin-right: 12%;
  float: left;
}
@media (max-width: 767px) {
  .drop-off-search .post-code input {
    margin-bottom: 1.5rem;
  }
}
.drop-off-search .result {
  margin-top: 2rem;
}
.drop-off-search .map-container {
  border: 1px solid #d3d3d3;
  border-bottom: 0px;
  height: 200px;
  width: 100%;
}
.drop-off-search .result-list {
  width: 100%;
  border: 1px solid #d3d3d3;
  height: 250px;
  overflow: auto;
  margin: 0;
}
.drop-off-search .result-list li {
  padding: 1.5rem 1.5rem 1.5rem 5rem;
}
.drop-off-search .result-list li:not(:last-of-type) {
  border-bottom: 1px solid #d3d3d3;
}
.drop-off-search .result-list li .name {
  display: block;
}
.drop-off-search .result-list li .address {
  color: #a1a1a1;
}
.desktop-hidden {
  display: none;
}
@media (max-width: 767px) {
  .desktop-hidden {
    display: block;
  }
}
table.desktop-hidden {
  display: none;
}
@media (max-width: 767px) {
  table.desktop-hidden {
    display: table;
  }
}
.mobile-hidden {
  display: block;
}
@media (max-width: 767px) {
  .mobile-hidden {
    display: none;
  }
}
table.mobile-hidden {
  display: table;
}
@media (max-width: 767px) {
  table.mobile-hidden {
    display: none;
  }
}
/*# sourceMappingURL=./claims.css.map */