
@media (min-width: 481px) and (max-width: 959px) {
	#logo .contentRecommendationWidget, 
	#logo .contentRecommendationWidget > .left_espot, 
	#logo .contentRecommendationWidget > .left_espot > a, 
	#logo .contentRecommendationWidget > .left_espot > a > img, 
	#logo .genericESpot {
	    height: 40px;
	    max-width: none;
	    float:none;
	}
	.skyBg #importPolicyBtn {
		width: 80%;
	}

	.policyFilter.policyFilterCont {
		width:100%;
	}
	
	.partner #logo, 
	/*nav.partner ul li.logoContainer { width: 175px }*/
	nav.partner ul li.logoContainer { width: 85px }
	
	#logo .logoContainer {
		max-width: none;
		padding: none;
		margin: 0 auto;
	}
	#contentWrapper{
		padding: 40px 3% 20px;
    	width: 94%;
	}

	/* content managed area --> */
	.contentCatalog #contentWrapper .espot {
		width: 23.07%
	}
	
.contentCatalog #contentWrapper #categoryNav {
		/*display: none;*/ 
	}

	
	.contentCatalog #contentWrapper .content {
		width: 74.356%; 
		margin: 0 2.574% 0 0; 
		padding: 0 1.103% 0 0;
	}

	.contentCatalog #contentWrapper .content .espot {
		width: 47.232%; 
		margin: 2em 0 0 5.534%; 
	}
	
	.contentCatalog #contentWrapper .subCategories + .espot {
		margin-left: 0; 
	}
	
	#mainNavigationContent ul.contentManaged {
		display: block; 
	}

	#mainNavigationContent ul.contentManaged ul.level_1 li > div {
		padding-right: 0; 
	}
	
	#mainNavigationContent .contentManaged ul.level_1 ul, 
	#mainNavigationContent .contentManaged .moreLink {
		display: none; 
	}
	
	.userreg .button_footer_line{
		float:none;
	}
	.userreg .button_footer_line .button_secondary,
	.userreg .button_footer_line .button_primary {
	    box-sizing: border-box;
	    height: 40px;
	    line-height: 40px;
	    padding: 0;
	    width: 45%;
	    margin:0
	}
	.userreg .button_footer_line a:last-child{
		margin-left:6%;
	}
	
	/* Corporate --> */
	.contentCatalog .corporate #content .items {
		width: 136.513%; 
	}

	.contentCatalog .corporate #content .links > li, 
	.contentCatalog .corporate .management #content .items > li {
		width: 31.617%; 
	}
	
	.contentCatalog .corporate .management #content .items > li > .img {
		height: 0; 
		padding: 0 0 calc(0.6627906976744186 * (100% + 40px)); /* aspect ratio of src img * width of container */; 
	}

	.contentCatalog .corporate .financial .content .subCategories {
		width: 65.513%; /* 6 columns */
	}

	.contentCatalog .corporate .international #careersSitelink, 
	.contentCatalog .corporate .financial #careersSitelink, 
	.contentCatalog .corporate .financial #factsAndFigures {
		width: 54.017%; /* 5 columns */
		margin: -256.754px; /* 3 cols + padding to right */
	}
	/* <-- Corporate */
	/* <-- content managed area */
	
	/* Menu */

	.basicMenu > h3 {
		display: block;
		margin: 0;
		padding: 15px;
		background-color: #687979;
		color: #ffffff;
		font-size: inherit;
	}
	.basicMenu > .closeButton {
		display: block;
		position: absolute;
		top: 5px;
		right: 5px;
		padding: 10px;
		color: #ffffff;
		font-family: monospace;
	}
	.basicMenu > .closeButton > span:before {
		content: "[x]";
	}

	/* Header */
	.poweredBy,
	#searchComponent {display:none}/*temp*/
	
	ul#mainNavigationContent.active {
    background: none ;
    top:-1px
}
	ul#mainNavigationContent.active li:first-of-type {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-bottom: 10px solid #005f8a;
}
	nav.dandg {background:#009fe9}
	nav.dandg ul li a {
    padding: 15px 0 15px 15px;
    text-align: left;
	}nav.dandg ul li div {
	    height: 40px;
	}
	nav.dandg li.loginSearch {
    padding-bottom: 19px;
    padding-top: 10px;
}
	#mainNavigationContent .logoContainer img {display:none}
	
	nav.dandg li.loginSearch .loginOut  {
		width:30%
	}
	#mainNavigationContent.active li a {
    margin: 1px 8px 0;
}
	#mainNavigationContent.active  a.loginReg, 
	#mainNavigationContent.active  a.logOut{
    	padding: 13px 0;
    	border:1px solid #fff;
    	background: none repeat scroll 0 0;
    	text-align: center;
    	color:#fff
	}
	
	.sky #mainNavigationContent {
		display:none;
	}
	
#mainNavigationContent.active a:hover {
	    background-color: #006fa2;
	    color: #ffffff;
	}
	#mobileHome  {
    display: block;
    left: 50%;
    margin: 0 auto 0 -55px;
    max-height: 40px;
    position: absolute;
    right: 50%;
    text-align: center;
    top: 0;
    width: 110px;
	}
	#mobileHome  img {
	    max-height: 40px;
	}
	
	#minishopcart_total {
	    background-color: #005f8a;
	 	right: 3px;
	    top: 3px;
	}	
	#logo {
	    left: 49%;
	    margin: 0 0 0 -80px;
	    padding: 0;
	    position: absolute;
	    top: 0;
	    width: 175px;
	    z-index: 2;
	}
	
	#header:before {
		height: 5px;
	}
	#header {
		position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	}
	#headerRow1 > div {
	    height: 100%;
	}
	#headerRow1 {
		height: 40px;
	}
	.inPageErrorWrapper {
	    margin: 124px auto -80px;
	}
	#paymentDisplay .inPageErrorWrapper {
		margin: 20px auto;
	} 
	#mainNavigation {
	    width: 80%;
	}
	/*#searchComponent {
	    width: 70px;
	}
	#searchButton{
		height: 40px;
	    position: absolute;
	    right: 50px;
	    top: 0;
	    width: 45px;	
	}
	#searchButton span{
	    background-position: 0 -4px;
	    height: 41px;
	    padding: 0;
	}*/
	#mainNavButton:before {
	    clip: rect(0px, 135px, 45px, 90px);
	    content: url("http://www.domesticandgeneral.com/wcsstore/DandGStorefrontAssetStore/images/responsive/dandg_rwdUISprite@1x.png");
	    left: -92px;
	    position: absolute;
	    top: -3px;
	}
	#mainNavButton{
		display: block;
	    height: 40px;
	    width: 45px;
	}
	#mainNavButton:hover,
	#mainNavButton.selected{
		background-color:#005f8a;
	}
	#mainNavigation #loginOut {
	    border: 1px solid white;
	    line-height: 1.9;
	    margin: 0 0 10px 10px;
	    text-align: center;
	    width: 30%;
	}
	#mainNavigation #loginOut a {
	    border: medium none;
   		padding: 10px 10px 0;
	}
	#mainNavigationContent{
	    display:none;
	}
	#mainNavigationContent.active {
	    background-color: #005f8a;
	    color: #000000;
	    display: block;
	    position: absolute;
	    top: 40px;
	    width: 100%;
	}	

	#mainNavigationContent ul {
	    background-color: #ffffff;
	    margin: 10px;
	    overflow: hidden;
	    padding: 0;
	    width:auto;
	    float:none
	}
	.checkoutHeader #mainNavigationContent ul {
		float:left;
	}
	#mainNavigationContent ul li {
	   	border-bottom: 1px solid;
	   	border-color: #8a8c8e;
	   	text-align: left;
	   	clear:left;
	   	width:100%
	}
	.checkoutHeader #mainNavigationContent ul li{
		clear:none;
		width:16%
	}
	#mainNavigationContent ul:not(.level_1) > li,
	#mainNavigationContent ul li:last-of-type {
		border-bottom: none; 
	}	
	#mainNavigationContent ul li:first-of-type a,
	#mainNavigationContent ul li a {
	    color: #009fe9;
	    height: auto;
	    padding: 15px 20px 12px 20px;
	    border:none
	}
	#mainNavigation #mainNavigationContent .breadCrumb .col3 > a {
	    color: #ffffff;
	    padding: 0;
	    position: relative;
	}
	#bookARepairContent.active{
	/* comment for 070725
		display: block;
	    padding: 0;
	    position: relative;
	    top: 0;
	    */
	}
	/* Quick links bar */

	#quickLinksBar > li > a {
		font-size: 12px;
	}
	#quickLinksBar > li > a > br {
		display: inline;
	}
	#quickLinksMenu.active {
		left: 0;
		right: 0;
		width: auto;
	}

	/* Mini cart button */

	#basketComponentUpper {
	    background-color: #ffffff;
	    height: 0;
	}
	#basketComponent{
		height: 40px;
	    position: absolute;
	    right: 0;
	    top: 0;
	    width: 60px;
	    z-index: 11;
    }
    /* required hide the basket icon while empty
    #basketComponentUpper.hidden {
	    display: block;
	}
	*/
	#searchBar.active {
	    top: 40px;
	}
    #widget_minishopcart:before,
    #widget_minishopcart.selected:before {
	    clip: rect(0px, 90px, 45px, 45px);
	    content: url("http://www.domesticandgeneral.com/wcsstore/DandGStorefrontAssetStore/images/responsive/dandg_rwdUISprite@1x.png");
	    left: -96%;
	    position: absolute;
	    top: -12%;
	}
    #widget_minishopcart {
	    background-color: #009fe9;
	    height: 40px;
	    width: 45px;
	}
	#widget_minishopcart.selected {
	    background-color: #005f8a;
	}
	
	/* Mini cart */

	#cartDropdown {
		width: auto;	
		min-width: 340px;
		max-width: 360px;
		
	}
	#quick_cart_container > .dijitDialogPaneContent, 
	#MiniShopCartProductAdded > .dijitDialogPaneContent {
		width: auto !important;
		height: auto !important;
	}

	/* Departments menu */

	#departmentsButton {
		display: block;
		max-width: 300px;
		margin: 2px 90px 2px 15px;
	}
	#departmentsButton > span {
		display: block;
		height: 36px;
		line-height: 36px;
		padding: 0 10px;
		text-align: left;
	}
	#departmentsMenu {
		display: none;
	}
	#departmentsMenu.active {
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		margin: 0;
		padding: 0 15px 15px 15px;
		background-color: #ffffff;
		border: 1px solid #c9cece;
		border-top: 3px solid #ffa200;
		border-radius: 0 0 4px 4px;
		color: #404040;
		font-size: 12px;
		list-style: none;
	}
	#departmentsMenu > li {
		display: block;
	}
	#departmentsMenu > li.hidden {
		position: static;
		visibility: visible;
	}
	.departmentButton {
		display: none;
	}

	/* Department menu */

	.departmentMenu {
		display: block;
		position: relative;
		top: auto;
		width: auto;
		margin: 0;
		padding: 0;
		border: 0 none;
	}
	.departmentMenu > .header > .toggle {
		display: block;
		position: absolute;
		right: -8px;
		top: 0;
		margin: 8px 0;
		padding: 8px;
		font-family: monospace;
	}
	.departmentMenu > .header > .toggle > span:before {
		content: "[+]";
	}
	.departmentMenu > .header > .toggle.selected > span:before {
		content: "[-]";
	}

	/* Category list */

	.categoryList {
		display: none;
		border-bottom: 1px solid #ffa200;
	}
	.departmentMenu.active .categoryList {
		display: block;
	}

	/* Subcategory list */

	.subcategoryList {
		border-bottom: 1px solid #e0dee5;
	}
	.subcategoryList > li {
		display: inline-block;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		width: 50%;
		padding-right: 16px;
		vertical-align: top;
	}

	/* "All departments" menu */

	#allDepartmentsButton {
		display: none;
	}
	#allDepartmentsMenu {
		display: none !important;
	}

	
	/* Autocomplete menu */



	/* Footer */
	#footer .footerColumn1{
		border:0;
	}
	#footer .col3 .row .col6 {
		width:100%;
	}	
	#footerRow1 > .section > .header:before {
		height: 30px;
		border-radius: 3px 3px 0 3px;
	}
	#footerRow1 > .section > .header > .toggle {
		display: block;
		position: absolute;
		left: -30px;
		bottom: -1px;
		width: 6px;
		height: 12px;
		border-width: 9px 12px;
		border-style: solid;
		border-color: transparent;
		overflow: hidden;
	}
	#footerRow1 > .section > .header > .toggle:before {
		content: url("http://www.domesticandgeneral.com/wcsstore/DandGStorefrontAssetStore/images/responsive/rwdUI.png");
		display: block;
		position: absolute;
		left: -161px;
		top: -1px;
	}
	#footerRow1 > .section.active > .header > .toggle {
		width: 12px;
		height: 6px;
		border-width: 12px 9px;
	}
	#footerRow1 > .section.active > .header > .toggle:before {
		left: -181px;
		top: -1px;
	}
	#footerRow1 > .section > ul {
		display: none;
	}
	#footerRow1 > .section.active > ul {
		display: block;
	}

	
	#footer .col4,
	#footer .col6,
	#footer .col8,
	#footer .footerColumn2,
	#footer .footerColumn3   {
	    width: 100%;
	}
	#footer .colWrap {
	
	border:none
	}
	#footer .footerEspot {
	    padding-bottom: 20px;
	    padding-top: 20px;
	}
	#footer #footerColumn3 {
		padding-top:0
	}
	
	#footer .footerColumn3.col6.footerEspot {
		box-sizing: border-box;
	    padding: 0 45px 20px;
	    width: 100%;
	}
	
	#footer #newsletterForm button {
		width:100%
	}
	#footer .colWrapFooter {
		border:none
	}
	
	/* Carousel */

	.contentCarouselWidget {
		overflow: hidden;
	}
	/* Header */
	#quickLinksButton{
		display:block;
	}

	/* GOAL SEARCH -- */
	.goalSearch #headerRow1 #backLink {
		padding: 57px 3% 0; 
	}	
		
	.goalSearch .goalSearchHeader {
		margin-top: 68px; 
	}
	
	.goalSearch #goalSearchProgress ul {
		margin-left: 0; 
		margin-right: 0; 
	}
			
	.goalSearch #goalSearchProgress ul li:first-child {
		margin-left: 0; 
	}	

	.goalSearch #goalSearchProgress ul li:last-child {
		margin-right: 0; 
	}	
	/* -- GOAL SEARCH */
	.userreg .form_wrapper {
		padding:0 10px
		}
	.userreg .form_wrapper .col4 {
		clear:both; 
		width:100%
		}
	/* My Account Tab */
	.myAccountTabWrapper ul li{
		width:49%;
		margin-right:2%;
		margin-left:0;
		box-sizing:border-box;
	}
	.myAccountTabWrapper ul li:last-child{
		margin-right:0;
	}
	.myAccountTabWrapper ul{
		margin:0;
	}

	/* PERSONAL DETAILS --> */
	.personalDetails .form_wrapper .personalDetails input {
		width: 100%;
	}
	
	.personalDetails .form_wrapper .password input {
		width: calc(100% - 175.5px);
	}
	
	.personalDetails .form_wrapper .personalDetails, 
	.personalDetails .form_wrapper .password {
		width: 48.404%; 
	}
	
	.personalDetails .form_wrapper .password {
		margin-left: 3.191%; 
	}
	/* <-- PERSONAL DETAILS */
	
	/*  homepage espots */
	.homeProductBox {
	    min-height: 300px;
	}
	.sky #basketComponent a span:before {
		background: none;
		text-align: center;
		height: auto;
		width: auto;
	}
	.sky #minishopcart_total {
		font-size: 14px;
		right: initial;
		font-weight: normal;
		width: 100%;
		display: inline;
	}
	.sky #basketComponent a {
		display: block; 
		margin: 11px 11px 0 0;
		background-image: url("http://www.domesticandgeneral.com/wcsstore/DandGStorefrontAssetStore/images/sky/sp_sprite.png");
	    background-repeat: no-repeat;
	    content: "";
	    float: left;
	    height: 22px;
	    margin-right: 3px;
	    background-position: 20px -70px;
	    padding-top: 25px;
	    text-align: center;
	    width: auto;
	    font-size: 14px;
	}	
	.sky #basketComponent {
		width: 70px;
		right: 11px;
	}
	.sky .basket_label {
		display: inline;
	}
	
	.sky .basket_icon { display: none; } 
	
	#searchTermWrapper > input {
		font-size: 14px;
	}
	
	 #searchButton {
	    height: 40px;
	    width: 45px;
	    background: url('/wcsstore/DandGStorefrontAssetStore/images/responsive/dandg_rwdUISprite@1x.png') 0 -4px no-repeat;
		right: 50px;
		top: 0;
		position: absolute;
	}
	
	#header .mobileSearch { display: block; }
	.skyStore .totalsAmount {
		 max-width: 100%;
		 margin: 0 4% 0 4%;
    }
    .skyStore .multiplan .totals p {width:30%}
    .skyStore .multiplan .totals p {
    	margin-left: 10%;
	}
	.skyStore .basketContents .totals .cta {
 	margin-right: 18px
    }
}

@media (max-width: 800px) {
	/* content managed area --> */
	/* General --> */
	.contentCatalog #contentWrapper .content {
		width: 100%; 
		padding-right: 0; 
		margin-right: 0; 
	}
	
	.contentCatalog #contentWrapper .espot {
		width: 100%; 
		float: left; 
		clear: left; 
		margin-top: 2em; 
	}
	
	.contentCatalog #contentWrapper .content .espot {
		width: 100%; 
		margin-left: 0; 
		margin-right: 0; 
	}
	/* <-- General */

	/* Corporate --> */
	.contentCatalog .corporate #content .items {
		width: 100%; 
	}

	.contentCatalog .corporate #content .links > li {
		width: 100%;
		margin-left: 0; 
	}

	.contentCatalog .corporate #content .links > li a {
		padding-bottom: 16.721%; 
		background-position: 0 50%; 
	}
	
	.contentCatalog .corporate #content .links > li a > .img {
		background-image: url(../images/pageSpecific/contentManaged/corporateLinks_mobileSprite.jpg);
		width: 50%;
		background-size: auto 100%; 
	}

	.contentCatalog .corporate #content .links > li.financial a > .img {
		background-position: 33.333% 0;
	}
	
	.contentCatalog .corporate #content .links > li.overview a > .img {
		background-position: 66.666% 0;
	}

	.contentCatalog .corporate #content .links > li a > .text {
		left: 0.5em;
		bottom: 0.5em;
		font-size: 1.125em;
	}

	.contentCatalog .corporate .financial #factsAndFigures {
		width: 100%;
		margin-right: 0;
		float: none;
		box-sizing: border-box;
	}	
	
	.contentCatalog .corporate .financial .content .subCategories {
		width: 100%;
	}
	.skyWidget .cta-wrapper {
		text-align: center;
	}
	/* <-- Corporate */
	/* <-- content managed area */
	html[lang='de'] .form_wrapper .reorder .form_line {
		margin-right: 10px;
	}
}

@media (max-width: 779px) {
	/* PERSONAL DETAILS --> */
	.personalDetails .form_wrapper select,
	.personalDetails .form_wrapper input {
		width: 100%; 
	}
	
	.personalDetails .form_wrapper .personalDetails, 
	.personalDetails .form_wrapper .password {
		width: 100%; 
	}
		
	.personalDetails .form_wrapper .password {
		clear: left; 
		margin-left: 0; 
		margin-bottom: 30px; 
	}

	.personalDetails .form_wrapper #actions > a {
		width: calc(50% - 44.5px); 
	}
	/* <-- PERSONAL DETAILS */
}

@media (min-width: 768px) and (max-width: 800px) {
	.quoteGenAction .periodOfCover .field,
	.quoteGenAction .periodOfCover .fieldLabel{
		float:none;
		width:auto;
		display:inline;
	}
}
/*move below from QuoteGenDisplay.css or JAWR build it into @media not all{}*/
@media (min-width: 481px) and (max-width: 770px) {
	body:after {content:'';}
	.quoteGenGetQuote {
	    margin: 0 0 20px;
	}
	.row .quoteGenAction,
 	.row .quoteGenMainContent {
 		width:100%;
 	}
	.quoteGenAction .quoteGenAddToBasketInner {
	    margin: 0;
	}
	.quoteGenAction .periodOfCover .fieldLabel {
	    padding-right: 1%;
	}
	.quoteGenAction .periodOfCover .field {
	    margin-right: 15px;
    	text-align: right;
   		width: 25%;
	}
	.quoteGenAction .paymentType {
	    margin: 10px 5px;
	    padding: 10px;
	}
	.emailOverlay form input,
	.emailOverlay form .sendBtn{
		width:70%;
	}
}

@media (min-width: 481px) and (max-width: 720px) {
	/* content managed area --> */
	/* Corporate --> */
	.contentCatalog .corporate .management #content .items > li {
		width: 48.713%; 
	}
	
	.contentCatalog .corporate #content .items > li:nth-child(3n + 1) {
		margin-left: 2.574%; 
		clear: none; 
	}
	
	.contentCatalog .corporate #content .items > li:nth-child(2n + 1) {
		margin-left: 0; 
		clear: left; 
	}
	/* <-- Corporate */
	/* <-- content managed area */
}

/* SELECT APPLIANCE BREAKPOINTS -- */
.topCat .topCatCategory .catContainer {
    width: auto;
	clear: none; 
}

.topCat .topCatCategory .catContainer {
	clear: none; 
}

@media (min-width: 937px) {
	.topCat .topCatCategory .catContainer {
	    width: 20%;
	}

	.topCat .topCatCategory .linkContainer > a > img {
		margin: 0 23%;
	}

	.topCat .topCatCategory .linkContainer > a {
		width: 100%;
	}
	
	.topCat .topCatCategory .linkContainer > a > h3 {
		margin: 0 5%;
	}
	
	/*.skyStore .topCat .topCatCategory .subCategoryContainer .linkContainer > a > img,
	.skyStore .topCat .topCatCategory .linkContainer > a.selected > img,
	.skyStore .topCat .topCatCategory .linkContainer > a:hover > img {
	    clip: rect(0px, 108px, 104px, 0px);
	    top: 12px;
	}*/
}

@media (min-width: 820px) and (max-width: 936px) {
	.topCat .topCatContainer .catContainer {
	    width: 14.286%;
	}

	.topCat .topCatCategory .catContainer:nth-child(7n + 1) {
		clear: left; 
	}
}

@media (min-width: 703px) and (max-width: 819px) {
	.topCat .topCatContainer .catContainer {
	    width: 16.667%;
	}

	.topCat .topCatCategory .catContainer:nth-child(6n + 1) {
		clear: left; 
	}
}

@media (min-width: 586px) and (max-width: 702px) {
	.topCat .topCatContainer .catContainer {
	    width: 20%;
	}

	.topCat .topCatCategory .catContainer:nth-child(5n + 1) {
		clear: left; 
	}
}

@media (min-width: 469px) and (max-width: 585px) {
	.topCat .topCatContainer .catContainer {
	    width: 25%;
	}

	.topCat .topCatCategory .catContainer:nth-child(4n + 1) {
		clear: left; 
	}

	.regitster_header {
		height: auto;
	}
}

@media (min-width: 352px) and (max-width: 468px) {
	.topCat .topCatCategory .catContainer {
	    width: 33.333%;
	}

	.topCat .topCatCategory .catContainer:nth-child(3n + 1) {
		clear: left; 
	}
}

@media (max-width: 351px) {
	.topCat .topCatCategory .catContainer {
	    width: 50%;
	}

	.topCat .topCatCategory .catContainer:nth-child(2n + 1) {
		clear: left; 
	}
}
/* -- SELECT APPLIANCE BREAKPOINTS */

@media (min-width: 770px) and (max-width: 960px) {
	.paymentType .field img {
		display: none;
	}
}

@media (min-width: 320px) and (max-width: 670px) {
	.basketContents .item { width: 90%; }
}

@media (max-width: 960px) {
	#appliances .item {
		width: 50%;
	}
	.offerTakeup .inPageErrorWrapper {
		margin: 20px auto;
	}
	.partner { margin-top: 0 }
	.partner .logoContainer img { max-height: 39px; }
	.partner #logo .logoContainer {  margin: 0 5px; }
	.partner .checkoutHeader #mainNavigationContent .breadCrumb { width: 100%; border-right: none; }
	.partnerStrapline { display: none; }
	.partner .checkoutHeader #mainNavigationContent ul li.first { width: 16% }
	.partner .checkoutHeader #mainNavigationContent ul li.second { width: 16%; }
	.partner .checkoutHeader #mainNavigationContent ul li.third { width: 16%; }
	.partner #logo, nav.partner ul li.logoContainer { background: none; }
	.partner #logo .logoContainer { margin: 0 auto; }
	
	html[lang='de'] .topCat .topCatCategory .linkContainer > a > h3 {
	 	font-size: 83%;
	 }
}

@media (max-width : 960px) { 
	.levelOfCoverWidget {display:none}
	#planAccordion{display:block}
}
@media (min-width : 961px)  { 
	.levelOfCoverWidget {display:block}
	#planAccordion{display:none}
}


@media (max-width : 960px) { 
#header {
		position:relative;
	}
	.sky {
	    padding: 11px 0;
	}
	.sky .logoContainer {
	    margin: 0 auto;
	    text-align: center;
	    float:none
	}
	.sky #mainNavButton::before {
	    clip: rect(0px, 31px, 22px, 0px);
	    content: url("http://www.domesticandgeneral.com/wcsstore/DandGStorefrontAssetStore/images/sky/mobilemenu.png");
	    left: 10px;
	    position: absolute;
	    top: 22px;
	}
	.sky #mainNavButton.selected::before {
	   	clip: rect(22px, 31px, 44px, 0px);
	   	left: 10px;
	    position: absolute;
	    top: 0;
	}
	.sky #mainNavButton {
	    display: inline;
	    height: 22px;
	    width: 31px;
	}
	.sky #mainNavButton:hover,
	.sky #mainNavButton.selected {
	    background:none
	}
	
	.sky nav .mobileBasket {
	    right: 10px;
	    position: absolute;
	    top: 22px;
	}
	
	.sky nav .logoContainerSky{
		display:none
	}
	.sky ul#mainNavigationContent.active li:last-of-type {
	    display: block;
	    font-size: 22px;
	}
	.skyContent {
	    width: 100%;
	}
	
	.mainContentImg {
	    width: 100%;
	    margin:0
	    }
	.slideContainer h1 {font-size: 1.9em;}
	
	.skyBg .rowContainer, .rowContainer > .row {
	    padding: 0;
	}
	
	
	.skyContent p:first-of-type,
	.skyContent p{
	    width:100%;
	    font-size: 1.6em;	
	}
	.sky .logoContainer img {
    margin: 5px 0 7px;
    width: 115px;
}
	.sky nav ul li {
		text-align:left;
		margin:0
		
	}
	.sky ul#mainNavigationContent.active li a {
		padding: 20px 0 10px 60px;
		display:block;
		color:#282828
	}
	.sky ul#mainNavigationContent.active {
    	background: #f6f6f6 ;
    	top: 76px;
		padding-bottom: 30px;
    	padding-top: 15px;
	}
	
	.sky ul#mainNavigationContent.active li:first-of-type {
		border-bottom:none	
	}

	.sky ul#mainNavigationContent.active li:first-of-type,	
	.sky ul#mainNavigationContent.active li,
	.sky ul#mainNavigationContent.active li a,
	.sky ul#mainNavigationContent.active li a:hover { 
		background:#f6f6f6
	}
	.sky #mainNavigationContent.active li a:hover {
		color:#009fe9
	}
	.mainContent a {
	    font-size: 1.6em;
	    margin-top: 10px;
	}
	.mainContentImg > img {
	    margin: 0 auto;
	}
	.skyFooter {
    	margin: 30px 0;
    	padding: 20px 0;
    	border-top:1px solid #c2c2c2
    }
	.skyFooter  .footerTopBarContent li {
	    display: block;
	    list-style: outside none none;
	    margin: 5px 0;
	} 
	
	.skyFooterBg #footer{
		padding:0 10px
	}
	.skyFooterBg  #footer p {
	    max-width:100%;
	    
	} 
	.skyFooterBg  #footer img {
	    float:none
	} 
	
	#skyQuoteGen .saveOrEmail ul li:last-child {
	    float: none;
	    width: 100%;
	}
	#skyQuoteGen .saveOrEmail ul li a {
		right: auto;
	}
	.skyBg .genericError > div { display:block} 
	.skyBg .genericError > div img {margin-top:20px} 
	.skyBg #contentWrapper.genericError {padding-bottom:0}
}	


@media (min-width: 480px) and (max-width: 760px) {
	#MutiPlanQuoteGen #skyQuoteGen .quoteGenMainContent {
		width: 100%;
	}
}
@media (min-width: 480px){
		.skyStore .topCat .topCatCategory .linkContainer > a {
		width:150px
	} 
	.skyStore #appliance_popup .topCat .topCatCategory .catContainer {
		float:left;
		width:25%
	}
	.skyStore .topCat .topCatCategory .linkContainer > a > img{
	/*	clip: rect(105px, 108px, 215px, 0px);
    	top: -94px;
    */	left:0;
    	right:0
	}

}
@media (max-width:959px){
	.skyStore .noneEmptyBasketWrapper,
	 .skyStore #emptyBasketWrapper{
		width:100%;
	}
	html[lang='de'] #basketPage .productTitleBox  {
		width: 100%;
	}
	
	html[lang='de'] .termsBox { width: 100%; }
	
	html[lang="de"] #basketPage .productPriceBox {
		display: none;
	}
}

/** fixing broken bottom section in repair claim page */
@media (max-width: 980px){
	.applianceRepairCols row div:nth-child(1){
		margin-bottom: 40px;
	}
	.applianceRepairCols .ccol6.acol12:nth-child(1) {
		width: 100%;
		margin-bottom: 40px;
	}
	.applianceRepairCols .ccol6.acol12:nth-child(1) .arrangeRepairCol{
		width: 100%;
	}
}


/* start of new Online claims entry page */
@media (max-width: 767px){
	.guest-claims .desktop-hidden{
	display: block;
	}
	.guest-claims .mobile-hidden{
	    display: none;
	}

	.guest-claims h1{
		margin-bottom: 20px;
	}
	
	.guest-claims .option-container .option{
		text-align: left;
		padding: 20px;
		margin: 0;
		width:100%;
		position: relative;
		display:table;
		
	}
	.guest-claims .option-container .option:not(:last-of-type){
		margin-bottom: 10px;
	}
	.guest-claims  .option-container .option span{
		 display: inline-block;
    	
		
		
	}
	.guest-claims .option-container .option .icon{
		margin: 0;
	    table-layout: fixed;
	    float: left;
	    margin-right: 10px;
	
	}
	.guest-claims .option-container .option .icon.desktop-hidden{
		display:inline-block;
	}
	.guest-claims .option-container .option .icon.mobile-hidden{
		display:none;
	}
	
	.guest-claims .option-container .option .option-label{
			height: auto;
	    
		
   
	}
	
	.padded-container{
		padding: 15px;
		margin-bottom: 20px;
	}
	.padded-container.bottomcta .cta{
		position: relative;
		left:auto;
		bottom:auto;
		    margin-top: 15px;
	}
	
	.global-aligned .padded-container{
		padding: 0px;
	}
	.global-aligned .padded-container:nth-child(2){
		
	}
	.padded-container.bottomcta{
		padding-bottom: 20px;
	}
	
	.myrepair-image{
		max-width: 400px;
	}

	.broken-kitchen-appliance{
		max-width: 400px;
	}
	
	.g-container {
    	border-spacing: 0px;
	}
	.g-col.g-col-6{
	    width: 100%;
	    display:block;
	}
	.g-row .g-col-6:nth-child(2) {
	    margin-left: 0;
	    margin-top: 20px;
	}
	
}

@media (max-width: 360px){
	.guest-claims .option-container .option{
		padding: 15px 10px;
	}
}

@media (max-width: 980px){
	#mobileHome img.desktop-hidden{
		display: inline-block;
	}

	#mobileHome img.mobile-hidden{
		display: none;
	}
}
/* end of new Online claims entry page */ 