@media (max-width: 480px) {
	/* Grid system - RWD-A */
	.acol1 { width: 8.333333%; }
	.acol2 { width: 16.666666%; }
	.acol3 { width: 25%; }
	.acol4 { width: 33.333333%; }
	.acol5 { width: 41.666666%; }
	.acol6 { width: 50%; }
	.acol7 { width: 58.333333%; }
	.acol8 { width: 66.666666%; }
	.acol9 { width: 75%; }
	.acol10 { width: 83.333333%; }
	.acol11 { width: 91.666666%; }
	.acol12 { width: 100%; }
	.rowContainer > .row.margin-true {
		padding-left: 0;
		padding-right: 0;
	}
	.row.margin-true > div > div {
		margin-left: 0;
		margin-right: 0;
	}
}

/*** RWD-A ***/

@media (max-width: 480px) {
	
	body.homepage {
	    background-color: #ffffff;
	    background-image: none;
	    background-repeat: no-repeat;
	}
	.selectWarranty .needWarranty{
	   display: block;
	    left: 0;
	    margin: 0;
	    position: absolute;
	    text-align: center;
	    top: 15px;
	    width: 100%;
	}
	
	#logo .contentRecommendationWidget, 
	#logo .contentRecommendationWidget > .left_espot, 
	#logo .contentRecommendationWidget > .left_espot > a, 
	#logo .contentRecommendationWidget > .left_espot > a > img, 
	#logo .genericESpot {
	    height: 38px;
	    max-width: none;
	    float: none;
	}
	
	#contentWrapper, 
	.contentCatalog #contentWrapper {
		padding: 40px 3% 20px;
    	width: 94%;
	}
	
	/* Menu */

	.basicMenu > h3 {
		display: block;
		margin: 0;
		padding: 15px;
		background-color: #687979;
		color: #ffffff;
		font-size: inherit;
	}
	.basicMenu > .closeButton {
		display: block;
		position: absolute;
		top: 5px;
		right: 5px;
		padding: 10px;
		color: #ffffff;
		font-family: monospace;
	}
	.basicMenu > .closeButton > span:before {
		content: "[x]";
	}

	/* Header */
	
	.poweredBy,
	#searchComponent {display:none}/*temp*/
	
	.partner #logo,
	nav.partner ul li.logoContainer { width: 45% }
	
	ul#mainNavigationContent.active {
    background: none ;
    top:-1px;
    
}
	ul#mainNavigationContent.active li:first-of-type {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-bottom: 10px solid #005f8a;
}
	nav.dandg {background:#009fe9}
	nav.dandg ul li a {
    padding: 15px 0 15px 15px;
    text-align: left;
	}nav.dandg ul li div {
	    height: 40px;
	}
	nav.dandg li.loginSearch {
    padding-bottom: 19px;
    padding-top: 10px;
}
	nav.dandg li.loginSearch .loginOut  {
		width: auto;
	}
	#mainNavigationContent .logoContainer img {display:none}
	#mainNavigationContent.active li a {
    margin: 1px 8px 0;
}
	#mainNavigationContent.active  a.loginReg,
	#mainNavigationContent.active  a.logOut {
    	padding: 13px;
    	border:1px solid #fff;
    	background: none repeat scroll 0 0;
    	text-align: center;
    	color:#fff
	}
	
	
#mainNavigationContent.active a:hover {
	    background-color: #006fa2;
	    color: #ffffff;
	}
	#mobileHome  {
    display: block;
    left: 50%;
    margin: 0 auto 0 -55px;
    max-height: 40px;
    position: absolute;
    right: 50%;
    text-align: center;
    top: 0;
    width: 110px;
    z-index: 1;
}
#mobileHome  img {
    max-height: 40px;
}
	#logo {
		left: 27%;
	    margin: 0;
	    padding: 0;
	    position: absolute;
	    top: 0;
	    width: 45%;
	    z-index: 20;
	    background-color: #fff; 
	}
	
	#headerRow1 #logo {
		height: 40px;
	}
	#logo .logoContainer {
	    max-width:none;
	    padding: 0;
	    margin: 1px auto;
	}
	#header:before {
		height: 5px;
	}
	#header {
	    left: 0;
	    position: fixed;
	    top: 0;
	    width: 100%;
	}
	#headerRow1 > div {
	    height: 100%;
	}
	#headerRow1 {
		height: 40px;
	}
	.inPageErrorWrapper {
	    margin: 124px auto -80px;
	}
	#mainNavigation {
	    width: 80%;
	}
	#mainNavButton:before {
	    clip: rect(0px, 135px, 45px, 90px);
	    content: url("http://www.domesticandgeneral.com/wcsstore/DandGStorefrontAssetStore/images/responsive/dandg_rwdUISprite@1x.png");
	    left: -92px;
	    position: absolute;
	    top: -3px;
	}
	#mainNavButton{
		display: block;
	    height: 40px;
	    width: 45px;
	}
	#mainNavButton:hover,
	#mainNavButton.selected{
		background-color:#005f8a;
	}
	#mainNavigation #loginOut {
	    border: 1px solid white;
	    line-height: 1.9;
	    margin: 0 0 10px 10px;
	    text-align: center;
	    width: 51%;
	}
	#mainNavigation #loginOut a {
	    border: medium none;
   		padding: 10px 10px 0;
	}
	#mainNavigationContent,
	.sky #mainNavigationContent {
	    display:none;
	}
	#mainNavigationContent.active {
	    background-color: #005f8a;
	    color: #000000;
	    display: block;
	    position: absolute;
	    top: 40px;
	    width: 100%;
	}	

	#mainNavigationContent ul {
	    background-color: #ffffff;
	    margin: 10px;
	    overflow: hidden;
	    padding: 0;
	    width: auto;
	}

	#mainNavigationContent ul li {
	   	border-bottom: 1px solid;
	   	border-color: #8a8c8e;
	   	text-align: left;
	   	width:100%
	}
	.checkoutHeader #mainNavigationContent ul li {
   		width: 16%;
	}
	#mainNavigationContent ul:not(.level_1) > li,
	#mainNavigationContent ul li:last-of-type {
		border-bottom: none; 
	}	
	#mainNavigationContent ul li:first-of-type a,
	#mainNavigationContent ul li a {
	    color: #009fe9;
	    height: auto;
	    padding: 15px 20px 12px 20px;
	    border:none
	}
	
		#minishopcart_total {
		    background-color: #005f8a;
		 	right: 3px;
		    top: 3px;
		}	
	/* content managed area --> */
	
	.contentCatalog #contentWrapper {
		padding: 0 3% 20px;
    	width: 94%;
	}
	.contentCatalog #categoryNav ul {
		margin-bottom:20px
	}
	.contentCatalog .navigation .level_1 > li > div {
    	height: 3.5em;
    }
	
	.contentCatalog #categoryNav, .contentCatalog .espot {
	    width: 100%;
	}
	.contentCatalog #contentWrapper .content {
		width: 100%;
		margin-left: 0; 
		margin-right: 0; 
		padding-left: 0; 
		padding-right: 0; 
	}
	
	.contentCatalog #contentWrapper .categoryFAQs ~ .espot {
		display: none; 
	}

	#mainNavigation #mainNavigationContent ul.contentManaged {
		display: block; 
	}
	
	.contentCatalog .content .categoryName h1, 
	.contentCatalog .content .articleTitle h1 {
		font-size: 1.5em;
	}

	.contentCatalog .categoryDescription .categoryShortDesc, 
	.contentCatalog .article .articleShortDescription {
		font-size: 1.125em;
	}

	/* management --> */
	.contentCatalog .corporate .management #content .items, 
	.contentCatalog .corporate .management #content .items > li {
		width: 100%;
	}

	.contentCatalog .corporate .management #content .items > li {
		margin-left: 0;
		padding: 0; 
		border-color: #8a8c8e; 
		border-top-width: 1px; 
	}
	
	.contentCatalog .corporate .management #content .items > li > .img, 
	.contentCatalog .corporate .management #content .items > li > .mainInfo {
		float: left; 
		width: 50%; 
		height: 0; 
	}

	.contentCatalog .corporate .management #content .items > li > .img {
		margin: 0;
		width: 57.236%; /* 7 columns */
		padding: 0 0 33.139%; /* aspect ratio of src img * width of container */
		border-bottom: none; 
		overflow: hidden; 
	}

	.contentCatalog .corporate .management #content .items > li > .mainInfo {
		color: #fff; 
		background: #009FE9; 
		width: 42.763%; /* 5 columns */ 
		padding: 2.631% 2.631% 30.507%;
		box-sizing: border-box; 
	}

	.contentCatalog .corporate .management #content .items > li .description {
		/* NB THIS IS TEMPORARILY REMOVED - NEED TO FIND OUT WHAT IS ACTUALLY REQUIRED! -- */
		display: none; 
		/* -- NB THIS IS TEMPORARILY REMOVED - NEED TO FIND OUT WHAT IS ACTUALLY REQUIRED! */
	}
		
	.contentCatalog .corporate .management #content .items > li > .mainInfo h2, 
	.contentCatalog .corporate .management #content .items > li > .mainInfo h3 {
		color: #fff; 
	}

	.contentCatalog .corporate .management #content .items > li > .mainInfo h2 {
		font-size: 1em; 
	}
	
	.contentCatalog .corporate .management #content .items > li > .mainInfo h3 {
		font-size: 0.8125em; 
	}
	
	.contentCatalog .corporate .management #content .items > li .moreInfo {
		clear: both; 
		margin: 0; 
		padding: 2.631%; 
		color: #009FE9; 
		font-size: 0.75em; 
	}

	.contentCatalog .corporate .management #content .items > li .expander {
		position: absolute;
		bottom: 11px; 
		left: 59.868%; 
		border: solid 1px #fff;
		line-height: 1;
		margin-left: 0; 
		font-size: 0.8125em; 
	}	
	/* <-- management */
	/* <-- content managed area */
	
	#mainNavigationContent ul li a:hover,
	#mainNavigationContent ul li a.selected {
		background-color: #005f8a;
    	color: #ffffff;
	}

	#searchComponent {
	    width: 45px;
	    float:right
	}
	#searchButton{
		height: 40px;
	    position: absolute;
	    right: 0;
	    top: 0;
	    width: 45px;	
	}
	#searchButton span{
	    background-position: 0 -4px;
	    height: 41px;
	    padding: 0;
	}
	#bookARepairContent.active{
		display: block;
	    padding: 0;
	    position: relative;
	    top: 0;
	}
	/* Quick links bar */

	#quickLinksBar > li > a {
		font-size: 12px;
	}
	#quickLinksBar > li > a > br {
		display: inline;
	}
	#quickLinksMenu.active {
		left: 0;
		right: 0;
		width: auto;
	}

	/* Mini cart button */

	#basketComponentUpper {
	    background-color: #ffffff;
	    height: 0;
	}
	#basketComponent{
		height: 40px;
	    position: absolute;
	    right: 0;
	    top: 0;
	    width: 10%;
	    z-index: 11;
    }
    /* required hide the basket icon while empty
    #basketComponentUpper.hidden {
	    display: block;
	}
	*/
	#header .mobileSearch { display: block; }
	
    #searchButton {
	    height: 40px;
	    width: 45px;
	    background: url('/wcsstore/DandGStorefrontAssetStore/images/responsive/dandg_rwdUISprite@1x.png') 0 -4px no-repeat;
		right: 50px;
	}
	#searchBar.active {
	    top: 40px;
	}
	#searchTermWrapper > input {
		font-size: 14px;
	}
    #widget_minishopcart:before,
    #widget_minishopcart.selected:before {
	    clip: rect(0px, 90px, 45px, 45px);
	    content: url("http://www.domesticandgeneral.com/wcsstore/DandGStorefrontAssetStore/images/responsive/dandg_rwdUISprite@1x.png");
	    left: -96%;
	    position: absolute;
	    top: -12%;
	}
    #widget_minishopcart {
	    background-color: #009fe9;
	    height: 40px;
	    width: 45px;
	}
	#widget_minishopcart.selected {
	    background-color: #005f8a;
	}
	
	#quick_cart_container, #MiniShopCartProductAdded {
		left: auto !important;
	    right: 0 !important;
	    top: 40px !important;
	}
	#quick_cart_container > .dijitDialogPaneContent, 
	#MiniShopCartProductAdded > .dijitDialogPaneContent {
		width: auto !important;
		height: auto !important;
	}
	
	/* Mini cart */

	#cartDropdown {
		width: auto;
	}
	#quick_cart_container, #MiniShopCartProductAdded {
	    left: 0 !important;
	    right: 0 !important;
	    top: 40px !important;
	}
	#quick_cart_container #cartDropdown > .footer{
		padding:10px;
		margin:0 10px;
	}
	#quick_cart_container #cartDropdown li{
		width:50%;
		text-align:left;
	}
	#quick_cart_container #cartDropdown #viewCartButton{
		width:90%;
		margin:0;
		padding:12px 0;
	}
	#quick_cart_container #GotoCartButton2{
		width:96%;
		padding:12px 0;
		margin:0;
	}
	
	/* Departments menu */

	#departmentsButton {
		display: block;
		max-width: 300px;
		margin: 2px 90px 2px 15px;
	}
	#departmentsButton > span {
		display: block;
		height: 36px;
		line-height: 36px;
		padding: 0 10px;
		text-align: left;
	}
	#departmentsMenu {
		display: none;
	}
	#departmentsMenu.active {
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		margin: 0;
		padding: 0 15px 15px 15px;
		background-color: #ffffff;
		border: 1px solid #c9cece;
		border-top: 3px solid #ffa200;
		border-radius: 0 0 4px 4px;
		color: #404040;
		font-size: 12px;
		list-style: none;
	}
	#departmentsMenu > li {
		display: block;
	}
	#departmentsMenu > li.hidden {
		position: static;
		visibility: visible;
	}
	.departmentButton {
		display: none;
	}

	/* Department menu */

	.departmentMenu {
		display: block;
		position: relative;
		top: auto;
		width: auto;
		margin: 0;
		padding: 0;
		border: 0 none;
	}
	.departmentMenu > .header > .toggle {
		display: block;
		position: absolute;
		right: -8px;
		top: 0;
		margin: 8px 0;
		padding: 8px;
		font-family: monospace;
	}
	.departmentMenu > .header > .toggle > span:before {
		content: "[+]";
	}
	.departmentMenu > .header > .toggle.selected > span:before {
		content: "[-]";
	}

	/* Category list */

	.categoryList {
		display: none;
		border-bottom: 1px solid #ffa200;
	}
	.departmentMenu.active .categoryList {
		display: block;
	}

	/* Subcategory list */

	.subcategoryList {
		border-bottom: 1px solid #e0dee5;
	}
	.subcategoryList > li {
		display: inline-block;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		width: 50%;
		padding-right: 16px;
		vertical-align: top;
	}

	/* "All departments" menu */

	#allDepartmentsButton {
		display: none;
	}
	#allDepartmentsMenu {
		display: none !important;
	}

	
	/* Autocomplete menu */



	/* Footer */
	#footer > div > div.footerEspot{
		height:auto;
	}
	#footer > div > div.footerEspot{
		padding:20px;
	}
	#footer .footerColumn1{
		border:0;
	}
	
	#footerRow1 > .section > .header:before {
		height: 30px;
		border-radius: 3px 3px 0 3px;
	}
	#footerRow1 > .section > .header > .toggle {
		display: block;
		position: absolute;
		left: -30px;
		bottom: -1px;
		width: 6px;
		height: 12px;
		border-width: 9px 12px;
		border-style: solid;
		border-color: transparent;
		overflow: hidden;
	}
	#footerRow1 > .section > .header > .toggle:before {
		content: url("http://www.domesticandgeneral.com/wcsstore/DandGStorefrontAssetStore/images/responsive/rwdUI.png");
		display: block;
		position: absolute;
		left: -161px;
		top: -1px;
	}
	#footerRow1 > .section.active > .header > .toggle {
		width: 12px;
		height: 6px;
		border-width: 12px 9px;
	}
	#footerRow1 > .section.active > .header > .toggle:before {
		left: -181px;
		top: -1px;
	}
	#footerRow1 > .section > ul {
		display: none;
	}
	#footerRow1 > .section.active > ul {
		display: block;
	}

	#footer .col4,
	#footer .col6,
	#footer .col8,
	#footer .footerColumn2,
	#footer .footerColumn3   {
	    width: 100%;
	}
	#footer .colWrap {
	
	border:none
	}
	#footer .footerEspot {
	    padding-bottom: 20px;
	    padding-top: 20px;
	}
	#footer #footerColumn3 {
		padding-top:0
	}
	
	#footer .footerColumn3.col6.footerEspot {
		box-sizing: border-box;
	    padding: 0 20px 20px 24px;
	    width: 100%;
	}
	
	#footer #newsletterForm button {
		width:100%
	}
	#footer .colWrapFooter {
		border:none
	}

	/* Carousel */

	.contentCarouselWidget {
		overflow: hidden;
	}
	/* Header */
	#quickLinksButton{
		display:block;
	}
	
	/* Policy details page */
	#corAddrForm .detailsWrapper {
		width: 100%;
	}
	
	#page .loginPrompt {
		float: none;
		width:100%;
		text-align:center;
	}
	.loginPrompt #loginCta{
		display:inline-block;
		width:50%;
	}
	
	.paymentType .field img {
		display: none;
	}
	
	.basketContents .item {
		width: 100%;
	}
	.userreg .form_wrapper {
		padding:0 10px
		}
	.userreg .form_wrapper .col4 {
		clear:both; 
		width:100%
		}
	.userreg .form_wrapper select,
	.userreg .form_wrapper input {
		width:100%
	}
	.userreg .passwordWrapper .espot{
		position:static;
		margin-bottom:10px;
	}
	.personalDetailWrapper,
	.passwordWrapper{
		float:none;
		width:100%;
	}
	/* register */
	.regitster_header span{
		display:none;
	}
	.regitster_header{
		padding:10px 2% 10px;
		width:96%;
	}
	
	.regitster_header .mobileText{
		display:inline-block;
	}
	.mobileText b{
		text-decoration:underline;
	}
	#box .regitster_header a{
		width:33%;
		height:50px;
		line-height:25px;
	}
	#box .regitster_header{
		height: 50px;
	    line-height: 50px;
	    padding: 10px 3%;
	    width: 94%;
	}
	#box .regitster_header h1{
		line-height:50px;
		font-size:24px;
		padding:0 1%;
	}
	#box h2.headingWithLink{
		text-align:center;
	}
	#box h2.headingWithLink .myaccount_link{
		border: 1px solid #7ab800;
	    color: #7ab800;
	    display: block;
	    font-size: 20px;
	    height: 40px;
	    line-height: 40px;
	    margin: 10px auto 0;
	    text-decoration: none;
	    width: 40%;
	}
	.skyBg #box h2.headingWithLink .myaccount_link {
		background:#0069b4;
		color: #fff;
		border-radius: 5px;
		padding: 10px;
		border: 0;
		line-height: 1.4;
		height: auto;
		font-size: 16px;
	}
	.button_footer_line{
		padding:0 2%;
		width:96%;
	}
	.button_footer_line .button_secondary,
	.button_footer_line .button_primary{
	    box-sizing: border-box;
	    height: 40px;
	    line-height: 40px;
	    padding: 0;
	    width: 45%;
	    margin:0
	}
	.button_footer_line a:last-child{
		margin-left: 6%;	
	}
	.button_footer_line span{
		display:none;
	}
	.button_footer_line .mobileText{
		display:inline-block;
	}
	/* forgot password */
	#box .forgotPassword_header{
		padding: 10px;
	}
	#box .forgotPassword_header h1{
		font-size: 16px;
		padding: 0;
	}
	#box .forgotPassword_header a{
		width: auto;
 		padding: 0 10px;
	}
	h2.headingWithLink{
		text-align: center;
	}
	.forgotPassword_content .headingWithLink a{
		display: block;
		margin: 0 auto;
		width: 40%;
		height: 36px;
		line-height: 36px;
		text-align: center;
		text-decoration: none;
		border: 1px solid #009fe9;
  		margin-top: 20px;
	}

	/* My Accout Tab */
	.myAccountTabWrapper {
		 margin: 10px auto 10px;
	}
	.myAccountTabWrapper ul{
		 margin-left: 0;
	}
	.myAccountTabWrapper ul li{
		 display: none;
		 margin-left: 0;
		 padding-bottom: 0;
	}
	.myAccountTabWrapper ul li.active,
	.myAccountTabWrapper ul.showAll li{
		 display: block;
		 width: 100%;
	}
	.myAccountTabWrapper ul a{
		text-align: left;
	}
	.myAccountTabWrapper ul a span{
		float:left;
		width:75%;
		padding-left:5%;
	}
	.myAccountTabWrapper ul .active em{
		background: none repeat scroll 0 0 #009fe9;
		display: block;
		height: 40px;
		width: 20%;
		float:right;
		position:relative;
	}
	.myAccountTabWrapper .active a em:after{
		position:absolute;
		border-bottom: 3px solid #666;
	    border-right: 3px solid #666;
	    bottom: 15px;
	    content: "";
	    display: block;
	    height: 20px;
	    left: 40%;
	    transform: rotate(45deg);
	    -webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg); 
	    width: 20px;
	}
	.myAccountTabWrapper .active .downTriangle{
		display:none;
	}
	.myAccountTabWrapper .active a:hover em{
		background:#006fa2;
	}

	/* PERSONAL DETAILS --> */
	.personalDetails .form_wrapper .password .espot {
		position: static; 
		width: 100%; 
		margin-top: 20px; 
	}
	/* <-- PERSONAL DETAILS */
	
	.carousel > .prevPageButton, .carousel > .nextPageButton {
		top: 60%;
	}
	
	/* Sky Quote Gen */
	
	#skyQuoteGen #contentWrapper { padding: 0 3%; }
	#skyQuoteGen h2 { font-size: 24px; }
	#skyQuoteGen #appliances a.edit {  font-size: 16px; }
	#skyQuoteGen .tab_container { font-size: 16px; margin-right: 25px; }
	#skyQuoteGen #tab2 { margin-right: 0; }
	#skyQuoteGen #appliances, 
	#skyQuoteGen #appliances a.edit {
		margin: 30px 0 20px;
	}
	#MutiPlanQuoteGen #skyQuoteGen .quoteGenMainContent { width: 100%; }
	#skyQuoteGen .coverTitle { text-align: left; }
	
	#skyQuoteGen .quoteGenAction .quoteGenAddToBasketPayOptList ul li a { width: 100% }
	
	#skyQuoteGen #addToBasketActions a.button { min-height: auto; }
	
	.skyStore #appliance_popup .topCat .topCatCategory .catContainer {
		float: left;
	}
	
	.skyStore .totalsAmount {
	  	margin: 0 3% 0 auto;
  	}
	  
  	.loginNoOverlay #contentWrapper { width: 100%; padding: 0 }
  	
  	html[lang='de'] .heroBanner .text h1 {
		font-size: 21px;
	    line-height: 1.3;
	    margin: 0 0 6px;
	    padding: 0;
	}

	html[lang='de'] .heroBanner .text {
		padding: 20px 20px 20px 128px;
	}
	  
}

/*** Mobile (portrait) - 0-400px ***/

@media (max-width: 400px) {

	/* Category list */

	.categoryList > li {
		width: 100%;
		padding-right: 0;
	}

	/* Search bar */

	#searchTermWrapper {
		border-right: 1px solid #bfbfbf;
		width: 68%;
	}
	#searchFilterButton {
		display: none;
	}
	#searchFilterMenu.active {
		display: none;
	}
	.basketContents .icon .applianceIcon {
		height: 80px;
		background-size: 100%;
		width: 80px;
		background-position: 0 -80px;
	}
	.search-results .resultContents .itemRow .col10 {
		width: 60%;
	}
	.search-results .resultContents .itemRow .col2 {
		width: 40%;
	}
}

/*@BP-A 0-600px*/
@media screen and (max-width: 480px) {
	#productsFacetsHorizontal > fieldset {
		width: 98%;
	}
	div#widget_coordinate > .middle > .content {
		padding: 0px 0px 40px 0px;
	}

	div#widget_coordinate > .middle > .content > .up_arrow {
		left: 199px;
	}

	div#widget_coordinate > .middle > .content > .down_arrow {
		left: 199px;
	}
	.product_page_content #productSlot56 > div:nth-child(2) {
		display: inline-block;
	}
	.widget_product_image_viewer .image_container > img {
		margin-right: 0px;
	}
	.widget_bundle_package_list .list_mode {
		width: 99%;
	}
	.tab {
		border-radius: 0px;
		border-left: none;
		border-right: none;
		width: 100%;
	}
	.definingAttributes{
		width: 95%;
		padding-left: 10px;
	}
	.definingAttributes .color_swatch_label {
		padding-top: 10px;
	}
	.available {
		width: 95%;
		margin-left: 10px;
	}
	.shopperActions {
		padding-left: 10px;
	}
	.textContainer .title {
		font-size: 22px;
		line-height: 18pt;
	}
	.textContainer .bodyText {
		font-size: 12px;
		line-height: 13pt;
	}

	.tabButtonContainer {
		margin-bottom: 0px !important;
	}

	#content .collapsible {
		border-radius: 0;
	}

	#contentFacet, #contentProducts {
		float: none;
		width: auto;
	}

	#contentFacet {
		height: 300px !important;
	}

	.changeOrientation {
		display: none;
	}

	#homePageEspot_Left_Slot,
	#homePageEspot_Right_Slot {
		padding-left: 10px;
	}

	div#widget_breadcrumb {
		display: none;
	}
	
	/* SELECT APPLIANCE -- */
	#chooseAppliance .topCat .topCatHeader {
		margin: 10px 0; 
		position: relative; 
	}
		
	#chooseAppliance .topCat .topCatHeader:after {
		content: ''; 
		display: block; 
		width: 36px; 
		height: 18px; 
		position: absolute; 
		right: 3.191%; 
		top: 50%; 
		-webkit-transform: translateY(-50%) rotate(180deg);
		transform: translateY(-50%) rotate(180deg);
		background-image: url("http://www.domesticandgeneral.com/wcsstore/DandGStorefrontAssetStore/images/responsive/dandg_rwdUISprite@1x.png");
		background-position: -10px -130px;
	}
	
	#MultiPlanBuilder #chooseAppliance .topCat .topCatContainer { overflow: visible; } 
	
	#chooseAppliance .topCat .topCatContainer {
		height: 0; 
		overflow: hidden; 
	}
	
	#chooseAppliance .topCat.active .topCatHeader:after {
		-webkit-transform: translateY(-50%) rotate(0);
		transform: translateY(-50%) rotate(0);
	}

	/* ANIMATIONS -- */
	#chooseAppliance .topCat.active .topCatContainer, 
	#chooseAppliance .topCat.inactive .topCatContainer {
		-webkit-transition-property: height; 
		-webkit-transition-timing-function: linear; 
		transition-property: height; 
		transition-timing-function: linear; 
	}
	
	#chooseAppliance .topCat .topCatHeader:after {
		-webkit-transition-property: transform; 
		-webkit-transition-timing-function: linear; 
		-webkit-transition-duration: 0.25s; 
		transition-property: transform; 
		transition-timing-function: linear; 
		transition-duration: 0.25s; 
	}
	/* -- ANIMATIONS */
	/* -- SELECT APPLIANCE */
	
	/* GOAL SEARCH -- */
	.goalSearch #headerRow1 {
		padding-bottom: 3em; 
	}

	.goalSearch #headerRow1 #backLink {
		padding: 50px 3% 10px; 
		position: relative; 
		text-align:center;
		background:#fff;
	}	

	.goalSearchHeader{
		display:none;
	}
	.goalSearch #contentWrapper{
		padding-top:100px;
	}
	
	.goalSearchQuestions .espotHelp .contentRecommendationWidget{
		padding:10px 5%;
		width:90%;
		overflow:hidden;
	}
	
	.goalSearch .goalSearchHeader {
		margin-top: 44px; 
	}
	
	.goalSearchQuestions form .questionSet .questionField,
	.goalSearchQuestions form .questionSet .chosenAnswer,
	.goalSearchQuestions form .questionSet .answerField.active{
		width:100%;
		padding:0;
	}
	#contentWrapper #goalSearchProgress{
		margin-bottom:5px;
	}
	
	.goalSearch #goalSearchProgress ul {
		margin-left: 0; 
		margin-right: 0; 
	}

	.goalSearch #goalSearchProgress ul li:first-child {
		margin-left: 0; 
	}	

	.goalSearch #goalSearchProgress ul li:last-child {
		margin-right: 0; 
	}	

	.goalSearch #goalSearchProgress ul li {
	    width: 42px;
    	height: 42px;
	    margin: 8.75px; 
	}

	#goalSearchProgress ul li a {
	    line-height: 42px; 
	}
	
	.goalSearch #goalSearchProgress ul li.active {
		width: 42px; 
	}

	.goalSearch #goalSearchProgress ul li.active a span.questionText {
		display: none; 
	}

	.goalSearchQuestions form .questionRow {
	    text-align: center;
	    padding-bottom:5px;
	}
	
	.goalSearchQuestions form .questionRow .questionSet.indentQuestion {
	    padding-left: 0;
	}

	.goalSearchQuestions form .questionSet .questionField, 
	.goalSearchQuestions form .questionSet .answerField {
    	float: none;
	}

	.goalSearchQuestions form .questionSet .chosenAnswer.active {
	    float: none;
	}

	.goalSearchQuestions .primaryButton {
		width: 100%; 
		font-size: 1.5em; 
		font-weight: normal; 
	}
	/* -- GOAL SEARCH */
	/*basket*/
	#basketPage .productTitleBox .wordBreak {
		display: block;
	}
	/*payment*/
	#paymentDisplay #tabDDPay {
		width: 91%;
	}
	/* Password Reset*/
	.passwordResetPage form input{
		width:100%;
	}
	.passwordResetPage #savePassBtn{
		float:right;
		width:auto;
	}
	#schedule_display_popup .close,
	#account_display_popup .closeModal{
		background:url("http://www.domesticandgeneral.com/wcsstore/DandGStorefrontAssetStore/images/responsive/dandg_rwdUISprite@1x.png") repeat scroll -10px -90px rgba(0, 0, 0, 0);
		width:28px;
		height:28px;
	}
	
	/* SKY */
	.skyWidget .SPWTitle h2,.skyWidget .SPWTitle p { font-size:1.4em; }
}

/* BASKET & CHECKOUT RWD */
@media screen and (max-width: 959px) {
	.contentWrapper h1{
		height:40px;
		line-height:40px;
		margin-bottom:10px;
	}
	.main_wrapper{
		margin-top:40px;
	}
	.skyOrderConf {
		padding:0 10px
	}
	.skyOrderConf h1,
	.skyOrderConf .orderThanks p strong {
		padding:0
	}
	.skyOrderConf h1, .skyOrderConf h2 {
    	font-size: 24px;
    	}
    .skyOrderConf p {
    	font-size: 17px;
    	}		
	.skyOrderConf .orderThanks p strong {
		display:block;
		clear:both	
		}
	
	.skyOrderConf ul.planDetails li h3 {
		 font-size: 20px;
	}
	.skyOrderConf .productsConf {
	     margin: 14px 0;
    overflow: hidden;
	}
	.skyOrderConf .acol12 {
    	margin-bottom: 5px;
    }
    .skyOrderConf ul.planDetails li p {
	    font-size: 16px;
	}	
	
	#page .contentWrapper{
		width:94%;
		overflow:none;
		padding:40px 3% 20px; 
	}
	#policyDetailPage{
		margin-top:50px;
	}
	
	/*checkout header*/
	.checkoutBackBox{
		display:none;
	}
	#headerRow1 #mainNavigation.checkoutHeader{
		width: 100%;
		position: absolute;
		top: 40px;
		border-top: 3px solid #fff;
		height: 36px;
	}
	#mainNavigationContent .breadCrumb{
		width:100%;
	}
	.checkoutHeader .breadCrumb .col3{
		width:16%;
	}
	.checkoutHeader #mainNavigationContent #activeBox{
		width:52%;
	}
	.checkoutHeader #mainNavigationContent ul{
		margin:0;
		background:inherit;
	}
	.checkoutHeader #mainNavigationContent ul li > a{
		color: #fff;
		height: 36px;
		padding: 0;
		line-height: 36px;
		text-align:center;
	}
	#mainNavigation.checkoutHeader #mainNavigationContent{
		display:block;
		width:100%;
	}
	.checkoutHeader .breadCrumb li a:after{
		height:36px;
		width:36px;
		right:-18px;
	}
	.breadCrumb li a span{
		display:none;
	}
	.breadCrumb li a.selected span,
	.breadCrumb li a.selected em,
	.breadCrumb li a i{
		display:inline;
	}
	
	/*basket*/
	#basketPage .contentWrapper{
		padding:10px 3% 20px; 
	}
	#basketPage .productImageWrapper{
		width:24%;
		margin-right:1%;
	}
	.productPriceBox .productPrice{
		float:none;
		margin-left:2%;
	}
	.productWrapper .productDetail{
		text-align:left;
	}
	#basketPage .productBox{
		width:73%;
	}
	#basketPage .productImage{
		width:100%;
	}
	#basketPage .productImage a{
		width:72px;
		height:72px;
		overflow:hidden;
	}
	#basketPage .productPriceBox{
		width:100%;
	}
	.productWrapper li .productDetail{
		padding:10px 0 0 25%;
	}
	.productWrapper .productDetail a{
		padding:0;
	}
	#basketPage .productTitleBox .selectBtnWrapper{
		min-height:0;
	}
	.productWrapper li .removeBtn{
		position:relative;
		display:block;
		margin: 0 auto;
		width:100%;
		font-size:14px;
		top:10px;
	}
	#basketPage .productImage img{
		height:auto;
		max-width:auto;
	}
	#basketPage .productTitleBox{
		width:100%;
	}
	.orderSummaryWrapper .proceedBtn,
	.orderSummaryWrapper .continueBtn{
    	text-align: center;
    	width: 80%;
    	font-size:16px;
    	margin:10px auto;
	}
	.orderSummaryWrapper .tip{
		margin-bottom:10px;
	}
	#basketPage .espot{
		width: 94%;
		padding: 10px 3% 20px;
	}
	/* order summary */
	.orderSummaryWrapper .orderBoxTriangle{
		display:none;
	}
	.orderSummaryWrapper{
		width:92%;
		margin:0;
		padding:20px 4%;
	}
	
	/*policyDetail*/
	#policyDetailWrapper .topEspot{
		margin:15px 0;
	}
	#page #policyDetailWrapper .espotSmallBox{
		position:relative;
		top:auto;		
		margin: 20px 0;
	    min-height: 80px;
	    text-align: center;
	    width: 96%;
	}
	#policyDetailWrapper .findAddressBox{
		margin-top:10px;
	}
	#policyDetailWrapper .findAddressBox a{
		display:block;
		margin:15px 0 0 10px;
	}
	#policyDetailWrapper .findAddressBox input{
		width:90%
	}
	#policyDetailWrapper .addressFormBox input,
	#policyDetailWrapper .addressFormBox select{
		width:96%
	}
	#policyDetailWrapper .findAddressBox input{
		margin:0 2%;
		width:92%;
	}
	/*payment*/
	#paymentDisplay .tabBox{
		width:90%;
	}
	#paymentDisplay #tabDDPay{
		margin:20px 0;
	}
	#paymentDisplay .selectBtn span{
		height:39px;
		width:99%;
	}
	#paymentDisplay .accountDetail,
	#paymentDisplay .espotWraper{
		width:100%;
	}
	#schedule_display_popup .modal .content{
		width:auto;
	}
	
	/*order Confirmation*/
	#orderConfirmationPage .remindWrapper{
		width:96%;
		padding:10px 0;
	}
	.remindWrapper .thankBox{
		width:100%;
		padding:0;
	}
	.remindWrapper .creatAccountBox{
		width:100%;
		padding:0;
		border:0;
	}
	.plansWrapper .planBox{
		width:100%;
	}
	#orderConfirmationPage .plansWrapper{
		width:96%;
		padding:0 2%;
	} 
	
	/* my policy */
	.mobile #import_policy_popup{
		width:100%;
	}
}

@media (max-width: 351px) {
	#addToBasketActions a.button {
		min-height: 49px;
	}
}

@media (max-width: 960px) {
	.basketContents .col12 .item,
	.skyStore .multiplan .wrapper {
		width: 98%;
	}	
	.basketContents .col12 .icon img {
		left: 0;
	}
	.basketContents .totals {
		bottom: 0;
		left: 0;
		width: 100%;
		padding:10px 0;
	}
	.basketContents .totals .cta { 
		float: right;
    	text-align: center;
    	margin-right: 10px;
	}
	.totals p {
		margin: 10px 0;
		float: left;
		width: 50%;
		text-align: center;
	}
	.getQuote {
		float: none;
	}
	.preConfirmationBox{
		padding:20px 25px 0 4%;
	}
	.skyStore .multiplan .totals p {
		margin-left: 10px;
	}
}

/* Multiplan */
@media (max-width: 480px) {
	.basketContents .totals {
		padding: 3% 2.5%;
		width: 95%;
	}
	.totals p {
		margin: 0;
		font-size: 0.8em;
		width: 50%;
		float: left;
		text-align: center;
	}
	.totals .total {
		display: block;
		text-align: center;
		padding-top: 0;
	}
	.basketContents .totals .cta {
		 margin-right: 22px;
    width: 46%;
	}
	.getQuote {
		float: right;
		padding: 10px 15px;
		width: auto;
	}
	/* SKY STORE MULTIPLAN */
	.skyStore .multiplan h2 {
		font-size: 20px;
		text-align: center;
	}
	.skyStore .multiplan .condtionContent h3 {
		font-size: 18px;
	}
	.skyStore .multiplan .condtionContent {
		padding-left: 0;
	}
	.skyStore .multiplan .condtionContent li,
	#skyQuoteGen .quoteGenMainContent .quoteGenTabbedArea ul li {
		font-size: 14px;
	}
	#skyQuoteGen .quoteGenMainContent .quoteGenTabbedArea .tab {
		font-size: 14px;
	}
	.skyStore .multiplan .condtionContent li span,
	#skyQuoteGen .tab .content ul li span {
		margin-right: 10px;
	}
	.skyStore #contentWrapper {
		padding-top: 0;
	}
	.skyStore .multiplan .basketContents h3 {
		font-size: 14px;
	}
	.skyStore .multiplan .basketContents .icon .applianceIcon {
		background-position: 0 0;	
		background-size: 100%;
	}
	.skyStore .multiplan .basketContents .item label {
		font-size: 14px;
	}
	.skyStore .multiplan #getMultiplanQuote input, 
	.skyStore .multiplan #getMultiplanQuote select {
		font-size: 14px;
	}
	.skyStore .multiplan .details .field {
		margin-bottom: 10px;
	}
	.skyStore .multiplan .totals p {
		width: 42%;
		font-size: 14px;
	}
	.skyStore .multiplan .getQuote {
		padding: 15px 30px;
		font-size: 16px;
	}
	.skyStore .multiplan .addBtn span {
		font-size: 16px;
	}
	.skyStore .multiplan .basketContents {
		margin-top: 0;
	}
	.skyStore .multiplan .number {
		font-size: 36px;
    padding: 0 0 175px;
	}
	.skyStore #page.multiplan .errorMes {
		width:152px
	}	
}

@media (max-width: 480px) {
	.levelOfCoverWidget {display:none}
	#planAccordion{display:block}
}

@media (max-width: 600px) {
	.multiplan .acol12 {
  		width: 100%;
	}
}

/* Sky protect */
@media (max-width: 480px) {
	#header {
		position:relative;
	}
	.sky {
	    padding: 11px 0;
	}
	.sky .logoContainer {
	    margin: 0 auto;
	    text-align: center;
	    float:none
	}
	.sky #mainNavButton::before {
	    clip: rect(0px, 31px, 22px, 0px);
	    content: url("http://www.domesticandgeneral.com/wcsstore/DandGStorefrontAssetStore/images/sky/mobilemenu.png");
	    left: 10px;
	    position: absolute;
	    top: 22px;
	}
	.sky #mainNavButton.selected::before {
	   	clip: rect(22px, 31px, 44px, 0px);
	   	left: 10px;
	    position: absolute;
	    top: 0;
	}
	.sky #mainNavButton {
	    display: inline;
	    height: 22px;
	    width: 31px;
	}
	.sky #mainNavButton:hover,
	.sky #mainNavButton.selected {
	    background:none
	}
	
	.sky nav .mobileBasket {
	    right: 10px;
	    position: absolute;
	    top: 22px;
	}
	
	.sky nav .logoContainerSky,
	.sky ul#mainNavigationContent.active li:last-of-type {
		display:none
	}
	.skyContent {
	    width: 100%;
	}
	
	.mainContentImg {
	    width: 100%;
	    margin:0
	    }
	.slideContainer h1 {font-size: 1.9em;}
	
	.skyBg .rowContainer, .rowContainer > .row {
	    padding: 0;
	}
	
	
	.skyContent p:first-of-type,
	.skyContent p{
	    width:100%;
	    font-size: 1.6em;	
	}
	.sky .logoContainer img {
    	margin: 5px 0 7px;
    	width: 115px;
	}
	.sky nav ul li {
		text-align:left;
		margin:0
		
	}
	.sky ul#mainNavigationContent.active li a {
		padding: 20px 0 10px 60px;
		display:block;
		color:#282828
	}
	.sky ul#mainNavigationContent.active {
    	background: #f6f6f6 ;
    	top: 79px;
		padding-bottom: 30px;
    padding-top: 15px;
	}
	
	.sky ul#mainNavigationContent.active li:first-of-type {
		border-bottom:none	
	}

	.sky ul#mainNavigationContent.active li:first-of-type,	
	.sky ul#mainNavigationContent.active li,
	.sky ul#mainNavigationContent.active li a,
	.sky ul#mainNavigationContent.active li a:hover { 
		background:#f6f6f6
	}
	.sky #mainNavigationContent.active li a:hover {
		color:#009fe9
	}
	.mainContent a {
	    font-size: 1.6em;
	    margin-top: 10px;
	}
	.mainContentImg > img {
	    margin: 0 auto;
	}
	.sky #basketComponent a span:before {
		background: none;
		text-align: center;
		height: auto;
		width: auto;
		content: none;
	}
	.sky #minishopcart_total {
		font-size: 14px;
		right: initial;
		font-weight: normal;
		width: 100%;
		display: inline;
	}
	.sky #basketComponent a {
		display: block; 
		margin: 11px 11px 0 0;
		background-image: url("http://www.domesticandgeneral.com/wcsstore/DandGStorefrontAssetStore/images/sky/sp_sprite.png");
	    background-repeat: no-repeat;
	    content: "";
	    float: left;
	    height: 22px;
	    margin-right: 3px;
	    background-position: 20px -70px;
	    padding-top: 25px;
	    text-align: center;
	    width: auto;
	    font-size: 14px;
	}	
	.sky #basketComponent {
		width: 70px;
		right: 11px;
	}
	.sky .basket_label {
		display: inline;
		font-family: "sky_reg-webfont",serif;
	}
	
	.sky .basket_icon { display: none; }
	
	.skyFooter {
    	margin: 30px 0;
    	padding: 20px 0;
    	border-top:1px solid #c2c2c2
    }
	.skyFooter  .footerTopBarContent li {
	    display: block;
	    list-style: outside none none;
	    margin: 5px 0;
	} 
	
	.skyFooterBg #footer{
		padding:0 10px
	}
	.skyFooterBg  #footer p {
	    max-width:100%;
	    
	} 
	.skyFooterBg  #footer img {
	    float:none
	}
	.skyBg .genericError > div { display:block} 
	.skyBg .genericError > div img {margin-top:20px} 
	.skyBg #contentWrapper.genericError {padding-bottom:0}
	
	html[lang='de'] .form_wrapper .reorder .form_line {
		width: 50%;
	}
	
	/* Claims Online */
	
	.info-table thead {
		display:none;
	}
	.info-table td {
		display:block;
		border:none;
		clear:both;		
		text-align:right;
	}
	.info-table td:first-child {
		border-top:1px solid #e8e8e8;
	}
	.info-table td.stati {
		max-width:none;
	}
	.info-table td.label:before {
		content: attr(data-label);
		float:left;
		font-weight:bold;
		text-transform:none;
	}
	
	.guest-claims .icon-w-label {
		margin-left: 100px;
		margin-top: 10px;
	}
	
	.guest-claims .claim-action {
		overflow: hidden;
	}
	
	.guest-claims .claim-action .btn {
		margin-top: 20px;
	}
	
	.guest-claims .icon-w-label span {
		margin-right: 0; 
	}
	
	.repairBreadcrumbs {
		display: none;
	}
	 
}


