.portfolio-box{
	height: 300px;
	background:#ebebeb;

	z-index:20;
}


.cta-container{
	margin-top: 20px;

	.btn{
		display: inline-block;
		border: 1px solid #fff;
		width: 160px;
		height: 40px;
		color: #fff;

		&.btn-moreinfo{
			margin-right: 10px;
		}

		&.btn-link{
			z-index: 99;
		}

		&:hover{
			color: #3cea5b;
			border-color: #3cea5b;
		}

	}

}