$link--primary : #3fff00;
$link--secondary : #fff;

.project-container{
		max-width: 1400px;
		width:92%;

		> .row{
			-webkit-appearance: none;
		    -moz-appearance: none;
		    appearance: none;
		    border: 0px !important;
		    -moz-box-shadow: 0px 0px 8px 3px #ccc;
		    -webkit-box-shadow: 0px 0px 8px 3px #ccc;
		    box-shadow: 0px 0px 37px 1px #988585;
				}
	}

.portfolio-box-old{
	width: 96%;
    margin: 2% 0;

	background-size: cover !important;
    background-position: center center!important;
    background-repeat: no-repeat !important;



	/* Remove default style*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /*style*/
	border: 0px !important;
	-moz-box-shadow:    0px 0px 8px 3px #ccc;
	-webkit-box-shadow: 0px 0px 8px 3px #ccc;
			box-shadow:         0px 0px 8px 3px #ccc;

	.portfolio-box-caption {

		display: none;
		@media(min-width:768px) {
			display: block;
		}
	}
}
.portfolio-box{
	width: 100%;

	padding-bottom: 59%;

	background-size: cover !important;
    background-position: center center!important;
    background-repeat: no-repeat !important;




	.portfolio-box-caption {

		display: none;
		@media(min-width:768px) {
			display: block;
		}
	}
}

.portfolio-box--old:hover{
	transition: 0.3s;

	/*style*/
	border: 0px !important;
	-moz-box-shadow:    0px 0px 12px 10px #ccc;
	-webkit-box-shadow: 0px 0px 12px 10px #ccc;
			box-shadow:         0px 0px 12px 10px #ccc;
}


.cta-container{
	margin-top: 20px;

	.btn{
		display: inline-block;
		border: 1px solid #fff;
		width: 160px;
		height: 40px;
		color: #fff;

		&.btn-moreinfo{
			margin-right: 10px;
		}

		&:hover{
			color: $link--primary;
			border-color: $link--primary;
		}

	}

}