.portfolio-box{
	height: 300px;
	background:#ebebeb;

}


.cta-container{
	margin-top: 20px;

	.btn{
		display: inline-block;
		border: 1px solid #fff;
		width: 160px;
		height: 40px;
		color: #fff;

		&.btn-moreinfo{
			margin-right: 10px;
		}

		&:hover{
			color: $link--primary;
			border-color: $link--primary;
		}

	}

}