<!DOCTYPE html>
<html lang="en">

<head>

    {{> head}}

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top" style="font-weight:lighter">
                    <!--<capital style="font-weight: lighter;font-size: 120%; ">G</capital>iulio
                    <capital style="font-size: 120%; ">A</capital>mbrogi-->
                    Giulio <i class="fa fa-cube" style="height:150%"></i> Ambrogi
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#techstack">Tech stack</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#resume">Resume</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contacts</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <p class="hi" style="display: inline;"></p>
                <br>
                <br>
                <br>
                <p class="iam" style="display: inline;"></p><span class="tech3" style="display: inline;"></span>
                <br>
                <br>

            </div>
            <a href="#about" class="btn btn-welcome btn-xl page-scroll opacity-hidden">Find Out More</a>
        </div>
    </header>

    <section class="bg-primary" id="about">

                <div class="about-me-container">
                    <h2 class="section-heading">About me</h2>
                    <hr class="light">


                    <p>I am comfortable with different programming languages such as <span class="tech">Javascript</span>, <span class="tech">Java</span>, <span class="tech">C#</span>, and technologies like <span class="tech">NodeJS</span>, <span class="tech">AngularJS</span> and <span class="tech">Spring</span>.</p>

                    <p>I love learning new things everyday, joining tech meetups and strumming my <a class="tech" href="https://soundcloud.com/ambrulio" target="_blank">guitar</a>.</p>



                    <!--<div class="myAvatar fadeInDown" ></div>-->

                    <br>

                    <a href="#portfolio" class="btn btn-welcome btn-xl page-scroll"><i class="fa  fa-angle-down "></i></a>

                </div>

    </section>

    {{> portfolio }}

    

    <section id="techstack">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My favourite tech stack (so far)</h2>
                    <hr>
                    <p><strong>Front-end</strong> (AngularJS || React || plain ES6) && LESS/SASS </p>
                    <p><strong>Back-end</strong> Javascript (Node + Express) || Java (Spring) || C# (.NET)</p>
                    <p><strong>DBs</strong> graphql && (mySql || postgreSql || MongoDB || MS SQL Server || Neo4j)</p>
                    <p><strong>Tools</strong> Gulp/Grunt, Git, Chrome Dev Tools, IOS simulator</p>
                    <hr class="primary">
                </div>
            </div>
        </div>

    </section>

    {{> resume}}

    {{> contacts}}

    <div class="footer">
        <aside class="bg-dark">
            <div class="container text-center">
                Copyright© Giulio Ambrogi 2016
            </div>
        </aside>
    </div>

    {{> bottom_include}}
</body>

</html>
